{% extends 'MBTI/components/base.html/' %}

{% block content %}
<head>
    <style>
      body {
        background: linear-gradient(30deg, #0284c7, #E6E6FA);
      }
    </style>
</head>
<body>
    <div class="flex flex-col items-center justify-center text-center mx-auto py-10 ">
        <div class="w-full max-w-6xl bg-white rounded-lg border border-gray-300  ">
            <div class="flex flex-col items-start justify-start text-left px-24 py-8">
                <div class="container mx-auto mt-10 text-center mb-8">
                    <h1 class="text-4xl font-bold">ลักษณะบุคลิกภาพของ ENFJ</h1>
                </div> 
                <div class="flex flex-col items-start justify-start text-left">
                    <p>ในฐานะของคนที่มีบุคลิกภาพแบบ ENFJ วิธีการหลักในการใช้ชีวิตของคุณจะสนใจอยู่กับโลกภายนอก ได้แก่ ทุกสิ่งทุกอย่างที่อยู่รอบตัวของคุณ โดยคุณจะจัดการกับสิ่งต่างๆเหล่านี้โดยใช้ความรู้สึกหรือค่านิยมส่วนตัวของคุณเป็นหลัก (Extraverted Feeling – Fe) วิธีการรองในการใช้ชีวิตของคุณจะสนใจอยู่กับโลกภายใน ได้แก่ สิ่งที่อยู่ในจิตใจและหัวสมองของคุณ ซึ่งคุณจะรับรู้สิ่งต่างๆเหล่านี้ผ่านทางสัญชาตญาณหรือลางสังหรณ์ของคุณ (Introverted Intuition – Ni)</p>
                    <br>
                    <p>ENFJ เป็นคนที่มุ่งเน้นความสนใจไปที่ผู้คน อาศัยอยู่ในโลกของความเป็นไปได้ต่างๆเกี่ยวกับผู้คน ENFJ เป็นบุคลิกภาพที่ให้ความสนใจกับคนรอบๆตัวมากกว่าใครๆ มีทักษะเกี่ยวกับคนสูง พวกเขาเข้าใจและเอาใจใส่คนรอบข้าง ENFJ มีพรสวรรค์ในการมอบสิ่งที่ดีที่สุดให้แก่ใครก็ตามที่ได้อยู่ข้างๆ ENFJ เช่น ทำให้คนอื่นๆรู้สึกดีขึ้นหรือกลายเป็นคนที่ดีขึ้นทั้งในด้านจิตใจและการกระทำ เป็นต้น ความสนใจหลักของ ENFJ คือการมอบความรัก, การสนับสนุน และช่วงเวลาดีๆให้แก่ผู้อื่น พวกเขาพยายามเข้าใจ, ช่วยเหลือ และให้กำลังใจผู้อื่น ENFJ ช่วยทำสิ่งต่างๆที่ดีให้แก่ผู้คนและก็ไม่ใช่แค่ต้องการที่จะช่วยเหลือสนับสนุนผู้อื่นอย่างเดียว แต่ยังได้รับความรู้สึกพึงพอใจจากการได้ทำสิ่งต่างๆเหล่านี้ด้วย</p>
                    <br>
                    <p>ENFJ เป็นคนที่สนใจโลกภายนอกเป็นอย่างมากและอาจจะพบปัญหาในการอยู่คนเดียว เพราะพวกเขาสามารถมีช่วงเวลาที่ย่ำแย่ในตอนที่อยู่คนเดียวได้ ความคิดในเชิงลบจะเริ่มปรากฎขึ้น เช่น เริ่มการตำหนิและโทษตัวเองในเวลาที่อะไรๆมันไม่ค่อยดี เป็นต้น ด้วยเหตุนี้ ENFJ จึงมักจะหลีกเลี่ยงการอยู่คนเดียวและเติมเต็มชีวิตไปกับกิจกรรมที่เกี่ยวข้องกับผู้คน พวกเขามีแนวโน้มที่จะกำหนดเส้นทางของชีวิตไปตามความต้องการของผู้อื่นและไม่ค่อยรับรู้ในความต้องการส่วนตัวของตัวเขาเอง มันเป็นเรื่องธรรมชาติเกี่ยวกับบุคลิกภาพแบบ ENFJ ที่จะให้ความสำคัญกับความต้องการของผู้อื่นมากกว่าความต้องการของตนเอง พวกเขาควรจะครุ่นคิดเกี่ยวกับความต้องการของตัวเองบ้าง จะได้ไม่ต้องยอมเสียสละตัวเองในการช่วยเหลือผู้อื่นมากเกินไป</p>
                    <br>
                    <p>ENFJ มีแนวโน้มจะเป็นคนที่ค่อนข้างสงวนท่าทีในการเปิดเผยตนเองมากกว่าบุคลิกภาพแบบอื่นๆที่ชอบเข้าสังคม (Extraverted – E) แม้ว่าพวกเขาจะมีความเชื่อที่หนักแน่น แต่ก็เลือกที่จะไม่แสดงมันออกไปเพราะถ้าทำ มันอาจจะไปกระทบต่อเป้าหมายของพวกเขาในการนำเอาสิ่งที่ดีที่สุดของผู้อื่นออกมา เพราะพวกเขาชอบที่จะเป็นคนที่ทำให้ผู้อื่นเปลี่ยนแปลง อย่างไรก็ตาม นี่ไม่ได้หมายความว่า ENFJ นั้นไม่มีความคิดหรือข้อคิดเห็น พวกเขาน่ะมีค่านิยมและความคิดเห็นที่แน่นอนซึ่งสามารถพูดออกมาได้อย่างชัดเจนและสั้นกระชับ แต่ความเชื่อเหล่านี้จะถูกพวกเขาแสดงออกมาก็ต่อเมื่อพวกเขาไม่ได้รู้สึกว่าเป็นส่วนตัวมากเกินไป ENFJ มีวิธีการหลายๆอย่างในการเปิดเผยและแสดงออก แต่ความสนใจหลักของพวกเขาคือการเป็นคนรับผิดชอบและช่วยเหลือผู้อื่น ENFJ อาจจะรู้สึกโดดเดี่ยวแม้ว่าจะถูกล้อมรอบโดยผู้คน ความรู้สึกอ้างว้างนี้อาจจะทวีคูณขึ่นไปอีกจากการที่พวกเขาไม่ค่อยเปิดเผยตัวตนที่แท้จริง</p>
                    <br>
                    <p>ผู้คนรัก ENFJ พวกเขาเป็นคนสนุกในเวลาที่อยู่ด้วยและยังเข้าใจและรักผู้อื่นอย่างแท้จริง เป็นคนที่ตรงไปตรงมาและซื่อสัตย์อย่างมาก มีความมั่นใจในตัวเองและมีความสามารถในการทำหลายๆสิ่ง ENFJ เป็นคนที่ฉลาด, เต็มไปด้วยศักยภาพ, กระตือรือร้น และทำอะไรอย่างรวดเร็ว โดยทั่วไปพวกเขาจะเก่งในแทบจะทุกๆเรื่องที่พวกเขาสนใจ</p>
                    <br>
                    <p>ENFJ ชอบอะไรที่เป็นระเบียบเรียบร้อยและจะทำงานอย่างหนักเพื่อสร้างโครงสร้างหรือการวางแผนและทำอะไรให้กระจ่างชัดเจน ENFJ มีแนวโน้มเป็นคนช่างจุกจิกจู้จี้ โดยเฉพาะอย่างยิ่งในบริเวณของบ้านตัวเอง</p>
                    <br>
                    <p>ในการทำงาน ENFJ จะทำได้ดีในบทบาทที่จะต้องติดต่อพูดคุยกับผู้คน ด้วยสามารถอันน่าทึ่งของพวกเขาในการเข้าใจคนและการใช้คำพูดพูดอะไรที่ควรเพื่อทำให้ผู้ฟังมีความสุข มันทำให้ ENFJ เป็นนักให้คำปรึกษาโดยธรรมชาติ พวกเขาชอบการเป็นจุดสนใจและยังทำได้ดีในสถานการณ์ที่สามารถเป็นคนให้การจุดประกายและนำพาผู้อื่น เช่น การสอน เป็นต้น</p>
                    <br>
                    <p>ENFJ ไม่ชอบการยุ่งเกี่ยวกับการใช้เหตุผลที่ไม่มีความเกี่ยวข้องกับคน พวกเขาไม่เข้าใจและไม่เห็นคุณค่าของมัน จะรู้สึกไม่มีความสุุขในสถานการณ์ที่จำเป็นจะต้องใช้เหตุผลและข้อเท็จจริงที่ไม่มีความเกี่ยวข้องกับผู้คน ENFJ รู้สึกสนุกกับแผนการต่างๆของพวกเขามากกว่าการบรรลุเป้าหมาย แต่อาจจะเป็นคนที่รู้สึกเบื่อหน่ายต่อโลกปัจจุบันได้อย่างง่าย</p>
                    <br>
                    <p>ENFJ มีอะไรดีๆที่จะให้ต่อผู้คนมากมายและจะเป็นคนที่มีความสุขถ้าสามารถนำสิ่งนั้นไปช่วยเหลือคนอื่นๆได้ พวกเขาจะได้รับความพึงพอใจมากที่สุดก็ต่อเมื่อได้ทำประโยชน์ให้แก่ผู้อื่น ความสนใจอันแท้จริงที่มีให้ต่อมนุษยชาติและความสามารถอันโดดเด่นในการใช้สัญชาตญาณรับรู้เรื่องต่างๆของผู้คน มันทำให้ ENFJ มีสามารถในการทำให้คนต่างๆกล้าพูดอะไรออกมาตามที่พวกเขาต้องการได้ แม้ว่าคนๆนั้นจะเป็นคนเก็บตัวและเงียบอย่างสุดๆก็ตาม</p>
                    <br>
                    <p>ENFJ มีความต้องการอย่างมากในความสัมพันธ์ที่มีความใกล้ชิดและสนิทสนม พวกเขาจะใช้ความพยายามอย่างหนักในการสร้างและบำรุงรักษาความสัมพันธ์ต่างๆ เป็นคนที่ซื่อสัตย์และเชื่อถือได้อย่างสุดๆในเวลาที่ตกอยู่ในสถานการณ์ที่เกี่ยวกับความสัมพันธ์</p>
                    <br>
                    <p>ENFJ คนใดที่ไม่ได้พัฒนาด้าน Feeling จะเป็นคนที่ทำการตัดสินใจอะไรดีๆได้ยากและมักจะยึดติดในการตัดสินใจของผู้อื่น ถ้า ENFJ คนใดที่ไมไ่ด้พัฒนาด้าน Intuition จะทำให้ไม่สามารถมองเห็นความเป็นไปได้และจะตัดสินสิ่งต่างๆเร็วเกินไปบนพื้นฐานของค่านิยมทางสังคมหรือของคนในระบบนั้นๆ โดยที่ไม่ได้เข้าใจในสถานการณ์นั้นอย่างจริงๆ ENFJ คนใดที่ยังไม่พบสถานที่ที่เหมาะสมกับพวกเขาอาจจะเป็นคนที่อ่อนไหวต่อคำวิพากษ์วิจารณ์อย่างมากและมีแนวโน้มที่จะรู้สึกผิดหรือกังวลอย่างหนัก</p>
                    <br>
                    <p>ด้วยความสามารถทางด้านการสื่อสารและการจัดระเบียบ ทำให้ ENFJ สามารถเป็นผู้นำและผู้จัดการที่ดี พวกเขาเก่งในการจัดการและดูแลกิจกรรม ช่วยเหลือคนอื่นๆในกลุ่มเพื่อให้ค้นพบศักยภาพของตนเอง ช่วยแก้ปัญหาความขัดแย้งระหว่างคน ENFJ มุ่งมั่นที่จะสร้างความสามัคคีในทุกๆสถานการณ์และดูเหมือนพวกเขาจะรู้อยู่ตลอดเวลาถึงวิธีการในการทำอย่างไรเพื่อลดความตึงเครียดและความไม่ลงรอยกันในกลุ่ม</p>
                    <br>
                    <p>ENFJ เป็นคนที่มีเสน่ห์ดึงดูด, อบอุ่น และเมตตากรุณา ทะเยอทะยานในการช่วยเหลือผู้อื่น เป็นผู้ให้อย่างแท้จริง พวกเขาชอบช่วยเหลือผู้อื่นด้วยความจริงใจ แต่ ENFJ ต้องจำไว้ว่า ควรจะยกความสำคัญของต้องการส่วนตัวให้มากเท่ากับที่ให้ในความต้องการของผู้อื่น</p>
                    <br>
                    <h1 class="text-2xl font-bold">ข้อดีและข้อเสีย</h1>
                    <p>ข้อดี</p>
                    <p>-สามารถรับรู้ความรู้สึกและแรงกระตุ้นของผู้อื่น</p>
                    <p>-มีทักษะการสื่อสารที่ดี</p>
                    <p>-ชอบที่จะตอบสนองความต้องการของผู้อื่น</p>
                    <p>-ซื่อสัตย์และเห็นความสำคัญของบทบาทและหน้าที่ของตัวเอง</p>
                    <p>-ห่วงใย มีความเห็นอกเห็นใจ ช่างสนับสนุนผู้อื่น</p>
                    <p>-ชอบการเข้าสังคมและมีเพื่อนหรือคนรู้จักเยอะแยะมากมาย พยายามสร้างความปรองดอง</p>
                    <br>
                    <p>ข้อเสีย</p>
                    <p>-อาจใช้คนอื่นเพื่อสิ่งที่ตัวเองต้องการ</p>
                    <p>-อาจเป็นห่วงเป็นใยผู้อื่นมากเกินไปจนสร้างความอึดอัดใจ</p>
                    <p>-โทษตัวเองในเวลาที่สิ่งต่างๆไปได้ไม่สวย</p>
                    <p>-อาจเสียสละตัวเองมากเกินไป</p>
                    <p>-อาจเป็นคนที่ไวต่อคำวิจารณ์หรือคำพูดต่างๆมากเกินไปในบางที</p>
                    <p>-อยากจะได้ยินการชื่นชมและคำพูดสนับสนุนเชิงบวกจากผู้อื่นบ่อยๆ</p>
                    <br>
                    <h2 class="text-xl font-bold">แหล่งข้อมูลอ้างอิงที่นำมาใช้ประกอบเว็บไซต์</h2>
                    <p><a href="https://getrealme.com" target="_blank" class="text-blue-600 hover:text-blue-800"> 1. www.getrealme.com</a></p>
                </div>
            </div>
        </div> 
    </div>
</body>
{% endblock %}