{% extends 'MBTI/components/base.html/' %}

{% block content %}
<head>
    <style>
      body {
        background: linear-gradient(30deg, #10b981, #E6E6FA);
      }
    </style>
</head>
<body>
    <div class="flex flex-col items-center justify-center text-center mx-auto py-10 ">
        <div class="w-full max-w-6xl bg-white rounded-lg border border-gray-300  ">
            <div class="flex flex-col items-start justify-start text-left px-24 py-8">
                <div class="container mx-auto mt-10 text-center mb-8">
                    <h1 class="text-4xl font-bold">ลักษณะบุคลิกภาพของ ENTJ</h1>
                </div> 
                <div class="flex flex-col items-start justify-start text-left">
                    <p>ในฐานะของคนที่มีบุคลิกภาพแบบ ENTJ วิธีการหลักในการใช้ชีวิตของคุณจะสนใจอยู่กับโลกภายนอก ได้แก่ ทุกสิ่งทุกอย่างที่อยู่รอบตัวของคุณ โดยคุณจะจัดการกับสิ่งต่างๆเหล่านี้โดยใช้ความมีเหตุผลและความสมเหตุสมผลเป็นหลัก (Extraverted Thinking – Te) วิธีการรองในการใช้ชีวิตของคุณจะสนใจอยู่กับโลกภายใน ได้แก่ สิ่งที่อยู่ในจิตใจและหัวสมองของคุณ ซึ่งคุณจะรับรู้สิ่งต่างๆเหล่านี้ผ่านทางสัญชาตญาณหรือลางสังหรณ์ของคุณ (Introverted Intuition – Ni)</p>
                    <br>
                    <p>ENTJ เกิดมาเพื่อเป็นผู้นำโดยธรรมชาติ อาศัยอยู่ในโลกของความเป็นไปได้ ทุกๆปัญหาคือความท้าทายที่จะต้องแก้ให้สำเร็จให้ได้และต้องการเป็นผู้รับผิดชอบในการแก้ปัญหา มีความต้องการที่จะเป็นผู้นำ พวกเขาสามารถเข้าใจอะไรที่ซับซ้อนได้อย่างรวดเร็ว ในเวลาที่ต้องตัดสินใจก็สามารถทำได้อย่างรวดเร็วและเด็ดขาด เป็นคนที่ดูแลและควบคุมผู้อื่นได้ดีอีกทั้งยังสามารถช่วยเหลือคนอื่นๆในกลุ่มให้ทำงานเสร็จและบรรลุเป้าหมาย ENTJ รู้ดีว่าอะไรที่ควรจะทำให้สำเร็จ จากนั้นก็วางแผนการกระทำและก็มอบบทบาทให้ผู้ร่วมงาน การที่ต้องอยู่ท่ามกลางผู้คนก็ไม่ใช่ปัญหา และยังมีทักษะในการสื่อสารที่ดี นี่คือข้อดีของ ENTJ ที่ช่วยให้เขาเป็นผู้นำที่ดี และบางทีก็ตกมาอยู่ฐานะของผู้นำโดยที่ไม่รู้ตัว</p>
                    <br>
                    <p>ENTJ เป็นคนที่มุ่งเน้นไปที่การทำอาชีพและสามารถเข้ากับงานในบริษัทหรือองค์กรได้อย่างยอดเยี่ยม พวกเขาคอยตรวจสอบสภาพแวดล้อมรอบๆตัวอย่างสม่ำเสมอเพื่อดูว่าอาจจะมีปัญหาอะไรที่สามารถปรากฎตัวขึ้นได้มั้ย และถ้ามีปัญหาอะไร พวกเขาก็สามารถหาทางออกให้กับมันได้ง่ายๆ มักจะมองอะไรในทัศนคติแบบมุ่งผลในระยะยาว มีหลายๆครั้งที่ ENTJ วางแผนเพื่อกำจัดปัญหาออกไปได้อย่างสำเร็จ โดยเฉพาะอย่างยิ่งปัญหาที่เกี่ยวข้องกับในบริษัท พวกเขามักจะประสบความสำเร็จในโลกของธุรกิจ เพราะว่าพวกเขาทะเยอทะยานที่จะเป็นผู้นำ ทำงานด้วยความตั้งใจและพยายามอย่างไม่รู้จักเหนื่อย พวกเขาจะคอยมองหาแนวทางที่จะช่วยให้บริษัทก้าวหน้า ด้วยเหตุนี้ พวกเขาจึงมีลักษณะความเป็นผู้นำหรือผู้บริหารของบริษัทโดยธรรมชาติ</p>
                    <br>
                    <p>ในโลกของ ENTJ ไม่ค่อยจะมีอะไรที่ผิดพลาด พวกเขาไม่ชอบให้ข้อผิดพลาดมันเกิดขึ้นอีกครั้งและไม่มีความอดทนในความไร้ประสิทธิภาพ พวกเขาไม่ค่อยรับรู้ในความรู้สึกของผู้อื่นเท่าไหร่ และก็ไม่มีความเชื่อว่าพวกเขาควรจะคิดถึงความรู้สึกของผู้อื่นในเวลาที่จะทำการตัดสินด้วย ENTJ อาจจะพบปัญหาในการมองหรือรับฟังสิ่งต่างๆภายนอกทัศนคติส่วนตัว พวกเขามีความอดทนอันน้อยนิดต่อใครก็ตามที่ไม่ได้มองสิ่งต่างๆในแบบที่พวกเขามอง ENTJ ควรจะฝึกให้พิจารณาถึงคุณค่าของความคิดเห็นของผู้อื่นบ้าง การที่จะต้องสนใจในความรู้สึกของผู้อื่นก็ด้วย ถ้าพวกเขาขาดความตระหนักรู้ถึง 2 สิ่งนี้ มันอาจจะทำให้พวกเขาเป็นคนช่างเจ้ากี้เจ้าการและชอบใช้อำนาจได้ นี่อาจจะเป็นปัญหาใหญ่สำหรับ ENTJ เลย เพราะมันจะทำให้พวกเขาละเลยในรายละเอียดที่สำคัญๆได้ ในโลกส่วนตัวของพวกเขา ENTJ อาจจะเป็นคู่รักหรือผู้ปกครองที่ค่อนข้างเผด็จการ</p>
                    <br>
                    <p>ถึงแม้ว่าพวกเขาจะมีความสามารถในการพูด แต่ ENTJ ไม่เก่งในการเข้าใจความรู้สึกของผู้อื่นเลย การแสดงออกถึงความรู้สึกก็เป็นเรื่องยากสำหรับพวกเขาเช่นกัน มีแนวโน้มที่จะเข้าสู่การโต้แย้งได้ไว มันเลยทำให้พวกเขาดูเป็นคนก้าวร้าว, ชอบเถียง และชอบเผชิญหน้า พวกเขาจะแก้ปัญหานี้ง่ายๆเพียงแค่เสียเวลาสักนิดแล้วลองใช้ความพยายามคิดดูว่าผู้อื่นจะรู้สึกอย่างไร อย่างไรก็ตาม ENTJ มักจะมีช่วงเวลาที่รู้สึกสะเทือนอารมณ์ซึ่งเป็นแค่เวลาสั้นๆเท่านั้น แต่พวกเขาก็พยายามเก็บมันเอาไว้ เพราะเชื่อว่าความรู้สึกเป็นอะไรที่เป็นจุดอ่อน ทั้งความรู้สึกและค่านิยมเป็นสิ่งที่คนแบบ ENTJ จะไม่นำมาคิดคำนึงถึง</p>
                    <br>
                    <p>ENTJ ชอบที่จะมีปฏิสัมพันธ์กับผู้อื่น ในฐานะของพวกที่ชอบเข้าสังคม (Extraverted – E) พวกเขาถูกกระตุ้นและได้รับพลังงานจากภายนอก ไม่มีอะไรน่าเพลิดเพลินไปกว่าการได้สนทนาในแบบที่เป็นการท้าทาย พวกเขาเคารพในคนที่สามารถต่อสู้และโต้เถียงกับความคิดของพวกเขาได้ มีไม่กี่คนหรอกที่จะชอบอะไรแบบนี้ อย่างไรก็ตาม ด้วยการที่ ENTJ เป็นคนที่มีความมั่นใจในตัวเองสูงมากและมีทักษะในการสื่อสารที่ยอดเยี่ยม แม้แต่ใครก็ตามที่เป็นคนมีความมั่นใจในตัวเอง เวลาที่ได้โต้วาทีด้วยกับ ENTJ ยังอาจจะมีช่วงเวลาที่รู้สึกสงสัยและไม่มั่นใจในความคิดของตัวเองเลย</p>
                    <br>
                    <p>ENTJ ต้องการให้บ้านของพวกเขาสวยงาม ตกแต่งอย่างดี และมีประสิทธิภาพ พวกเขาต้องการให้ลูกๆมีการศึกษาสูงมากกว่าสิ่งอื่นใด ต้องการคู่รักที่มีความสัมพันธ์เข้ากันได้อย่างดีเยี่ยมและอุทิศตนเพื่อเขา พวกเขาควรจะอยู่ในบ้านให้ได้เท่ากับอยู่ในสถานที่ทำงาน มีแนวโน้มจะเข้ากันได้ดีกับคนที่มีภาพลักษณ์ของตนเองสูงและเป็นคนประเภท Thinking เพราะว่า ENTJ เป็นคนที่สนใจ, ใส่ใจ และรักในการทำอาชีพอย่างสุดๆ พวกเขาจึงไม่ค่อยจะอยู่ที่บ้าน และจะทำให้พบปัญหาอื่นๆตามมาอีกในบทบาทของครอบครัว</p>
                    <br>
                    <p>ENTJ มีอะไรดีๆที่สามารถเรียกพลังงานมากมายของเขาออกมา พวกเขาเป็นคนแนวแน่ ชอบคิดค้นหรือเปลี่ยนแปลง เป็นนักคิดในระยะยาวและมีความสามารถยอดเยี่ยมในการแปลงทฤษฎีให้อยู่ในรูปแผนการกระทำที่ชัดเจน ENTJ เป็นบุคลิกภาพที่มีพลังอย่างมากและมีวิธีการในการทำเป้าหมายใดๆก็ตามที่พวกเขาตั้งใจไว้แล้วให้สำเร็จ</p>
                    <br>
                    <h1 class="text-2xl font-bold">ข้อดีและข้อเสีย</h1>
                    <p>ข้อดี</p>
                    <p>-เป็นคนตรงไปตรงมาและมีความจริงใจต่อสิ่งที่พูดออกไป</p>
                    <p>-เก่งในเรื่องเกี่ยวกับเงินมาก</p>
                    <p>-มีทักษะการสื่อสารสูง สามารถพูดได้อย่างคล่องแคล่ว</p>
                    <p>-เก่งในการจัดการกับคำวิพากษ์วิจารณ์ที่ได้รับ</p>
                    <p>-ให้ความสำคัญกับบทบาทและภาระหน้าที่ที่ได้รับมอบหมาย</p>
                    <p>-มีความมั่นใจในตัวเองสูง แน่วแน่ กล้าพูดกล้าทำ กล้าตัดสินใจ</p>
                    <p>-เป็นผู้นำโดยธรรมชาติ มีทักษะความเป็นผู้นำสูง มีระบบและมีประสิทธิภาพ และเก่งในการวางแผนเชิงกลยุทธ์</p>
                    <p>-มีความเป็นเหตุเป็นผลสูง และใช้ตรรกะการคิดวิเคราะห์จ</p>
                    <br>
                    <p>ข้อเสีย</p>
                    <p>-อาจเป็นคนเจ้ากี้เจ้าการและใช้อำนาจ ซึ่งอาจพบความขัดแย้งได้ง่าย</p>
                    <p>-อาจมองดูเหมือนเป็นคนที่หยาบคายและรุนแรงหรือหยิ่งยโส</p>
                    <p>-ไม่เก่งในการรับรู้ความรู้สึกของผู้อื่น อาจเป็นคนที่ไม่มีความเห็นอกเห็นใจผู้อื่นในบางที</p>
                    <p>-ไม่ค่อยอดทนหรือใจเย็นต่อสิ่งที่ตัวเองไม่พอใจ โดยเฉพาะความไร้ประสิทธิภาพ</p>
                    <p>-อาจหัวดื้อหัวแข็ง ไม่รับฟังความคิดผู้อื่น</p>
                    <p>-อาจเป็นคนช่างวิจารณ์และช่างตัดสิน</p>
                    <br>
                    <h2 class="text-xl font-bold">แหล่งข้อมูลอ้างอิงที่นำมาใช้ประกอบเว็บไซต์</h2>
                    <p>1. www.getrealme.com</p>
                </div>
            </div>
        </div> 
    </div>
</body>
{% endblock %}