{% extends 'MBTI/components/base.html/' %}

{% block content %}
<head>
    <style>
      body {
        background: linear-gradient(30deg, #991b1b, #E6E6FA);
      }
    </style>
</head>
<body>
    <div class="flex flex-col items-center justify-center text-center mx-auto py-10 ">
        <div class="w-full max-w-6xl bg-white rounded-lg border border-gray-300  ">
            <div class="flex flex-col items-start justify-start text-left px-24 py-8">
                <div class="container mx-auto mt-10 text-center mb-8">
                    <h1 class="text-4xl font-bold">ลักษณะบุคลิกภาพของ ESFJ</h1>
                </div> 
                <div class="flex flex-col items-start justify-start text-left">
                    <p>ในฐานะของคนที่มีบุคลิกภาพแบบ ESFJ วิธีการหลักในการใช้ชีวิตของคุณจะสนใจอยู่กับโลกภายนอก ได้แก่ ทุกสิ่งทุกอย่างที่อยู่รอบตัวของคุณ โดยคุณจะจัดการกับสิ่งต่างๆเหล่านี้โดยใช้ความรู้สึกหรือค่านิยมส่วนตัวของคุณเป็นหลัก (Extraverted Feeling – Fe) วิธีการรองในการใช้ชีวิตของคุณจะสนใจอยู่กับโลกภายใน ได้แก่  สิ่งที่อยู่ในจิตใจและหัวสมองของคุณ ซึ่งคุณจะรับรู้สิ่งต่างๆเหล่านี้ผ่านทางประสาทสัมผัสทั้ง 5 ของคุณตามความเป็นจริงของสิ่งนั้นๆ (Introverted Sensing – Si)</p>
                    <br>
                    <p>คนแบบ ESFJ นั้นเป็นคนที่ชอบช่วยเหลือผู้อื่นเป็นอย่างมากและให้ความสำคัญอย่างยิ่งกับความสามัคคีปรองดองและความสัมพันธ์ พวกเขาให้ความสนใจในสิ่งที่ผู้อื่นมีความต้องการหรือปรารถนา เป็นคนที่ทำงานร่วมกับผู้อื่นได้ดีเพื่อให้งานเสร็จสิ้นภายในเวลาและในทางที่ถูกต้อง พวกเขาจะทำตามพันธสัญญาและหน้าที่ที่ได้รับมอบหมาย ชอบการมีข้อสรุปในสิ่งต่างๆและการมีสภาพแวดล้อมที่รัดกุม มีระบบระเบียบ รวมถึงชอบสถานการณ์ที่มีการแสดงออกถึงความอบอุ่นหรือความเห็นอกเห็นใจ</p>
                    <br>
                    <p>พวกเขาให้ยกให้มิตรภาพและความสัมพันธ์ของคนใกล้ตัวเป็นเรื่องที่สำคัญ มีความไวต่อความรู้สึกและเป็นห่วงคนรอบตัว ESFJ เป็นคนที่ให้ผู้อื่นมากกว่ารับ และมักจะพิจารณาถึงความต้องการของผู้อื่นก่อนความต้องการส่วนตัวเสมอ ยกให้เรื่องที่เกี่ยวกับครอบครัวหรือความสัมพันธ์เป็นเรื่องที่มีความสำคัญกว่าการไล่ล่าเป้าหมายส่วนตัวทางสติปัญญา อีกทั้งยังไม่ชอบมีการการขัดแย้งและมักเลือกที่จะหลีกเลี่ยงมันมากกว่าที่จะเผชิญหน้า</p>
                    <br>
                    <p>ESFJ เป็นคนที่มีความสุขอย่างมากในการอยู่ร่วมกับคนอื่น เข้ากับใครได้ง่าย และมีทักษะในการสื่อสารที่ดี พวกเขารักและสนใจในคนอื่นๆ ให้ความอบอุ่นกับคนรอบข้าง ESFJ จะใช้ลักษณะของคนแบบ Sensing และ Judging ในการรวบรวมข้อมูลเกี่ยวกับผู้คนและแปลงมันเอาไว้ใช้ในการพิจารณาเพื่อสนับสนุนช่วยเหลือผู้อื่น พวกเขามีความสามารถพิเศษในการนำเอา “สิ่งที่ดีที่สุด” ของใครก็ตามออกมาเพื่อช่วยให้คนรอบตัวรู้สึกดีขึ้นหรือทำอะไรได้ดีขึ้น มีความสามารถอย่างยิ่งในการอ่านใจ อ่านความคิด และเข้าใจในมุมมองของคนอื่นๆ การมีความปรารถนาอย่างหนักของคนแบบ ESFJ ในการเป็นที่ชื่นชอบและมีสิ่งต่างๆที่ทำให้รู้สึกพอใจ มันเลยทำให้พวกเขาเป็นคนที่ชอบช่วยเหลือผู้อื่นเพราะพวกเขาเข้าใจมันดีว่าอะไรที่ดีและจะทำให้ผู้อื่นชอบใจ ผู้คนจึงชอบที่จะอยู่รอบๆพวกเขา เพราะ ESFJ มีอะไรพิเศษๆที่จะทำให้ผู้คนรู้สึกดีเกี่ยวกับตัวเองอยู่เสมอๆ</p>
                    <br>
                    <p>ESFJ มีความรับผิดชอบต่องานและหน้าที่อย่างมาก เป็นคนที่ไว้ใจและพึ่งพาได้ ให้ความสำคัญกับความปลอดภัยและความมีเสถียรภาพ จดจ่ออยู่กับรายละเอียดต่างๆในชีวิต พวกเขาจะใช้ความสามารถของตนเองในการสร้างความร่วมมือกันในกลุ่มและปฏิบัติงานให้เสร็จภายในเวลาและวิธีที่ถูกต้อง มักจะเป็นคนที่มีเพื่อนและคนรู้จักเยอะแยะมากมายเพราะการที่ชอบเข้าไปอยู่ในสถานการณ์ทางสังคมอย่างสุดๆ</p>
                    <br>
                    <p>ESFJ เป็นคนที่อบอุ่นและกระตือรือร้น ต้องการความนิยมชมชอบจากผู้อื่นเพื่อทำให้ตัวเองรู้สึกดี พวกเขาจะรู้สึกเจ็บจากการเมินเฉย ไม่สนใจใยดี พวกเขาไม่เข้าใจและไม่ชอบความไม่มีเมตตาปรานี ESFJ เป็นผู้ให้ที่ดีมาก จะรู้สึกพึงพอใจก็ต่อเมื่อได้เห็นคนอื่นมีความสุข ต้องการได้รับการชื่นชมสำหรับสิ่งที่เขาเป็นและสิ่งที่เขาให้ เป็นคนที่มีความรู้สึกไวต่อความรู้สึกของผู้อื่น ชอบให้การดูแลเอาใจใส่กับใครก็ตาม ESFJ เป็นคนประเภทที่สนใจผู้อื่นเป็นอย่างมากและอาจจะมีช่วงเวลาที่ยากลำบากถ้าจะต้องได้รับรู้หรือยอมรับความจริงในเชิงลบของคนที่พวกเขาเป็นห่วงหรือรัก</p>
                    <br>
                    <p>การทำหน้าที่อันหลักแบบ Extraverted Feeling เป็นตัวขับเคลื่อน ESFJ จะมุ่งเน้นไปยังการอ่านใจผู้อื่น พวกเขาเก่งในการอ่านใจผู้อื่นจริงๆนะ และมักจะเปลี่ยนแปลงกิริยาท่าทางบางอย่างของเขาให้ดูเหมาะสมและสวยงามมากขึ้นเวลาที่อยู่กับใครก็ตามในช่วงเวลานั้นๆ เมื่อใดก็ตามที่รู้สึกเจ็บ พวกเขามักเลือกที่จะเก็บมันไว้ในใจมากกว่าที่จะโต้ตอบออกไปทันทีทันใด ถ้าใครก็ตามที่อยู่ในช่วงเวลาที่มีปัญหา ESFJ จะยื่นมือเข้าไปช่วยหรือให้คำแนะนำโดยที่ไม่ต้องถูกขอให้ช่วยก่อนและจะรู้สึกผิดหวังอย่างยิ่งถ้าคนอื่นๆไม่ทำอย่างที่เขาทำในเวลาที่ ESFJ ก็กำลังมีปัญหาอยู่เช่นกัน</p>
                    <br>
                    <p>ESFJ เคารพและยึดมั่นในกฎ/ระเบียบ/ข้อบังคับ เชื่อฟังและทำตามผู้มีอำนาจหรือผู้หลักผู้ใหญ่ และเชื่อว่าคนอื่นๆก็สมควรทำแบบนี้อย่างที่พวกเขาทำด้วยเช่นกัน พวกเขาเป็นคนที่ปฏิบัติตามจารีตประเพณี หัวโบราณบ้างนิดๆ และมักเลือกหรือรู้สึกพอใจที่จะทำอะไรในวิธีการที่มีมานานแล้วและเป็นที่ยอมรับมากกว่าที่จะเสี่ยงทำอะไรใหม่ๆซึ่งอาจจะผิดกฎระเบียบได้ ด้วยความต้องการในความปลอดภัยของพวกเขา มันเลยทำให้พวกเขาพร้อมที่จะยอมรับและยึดเหนี่ยวในนโยบายของระบบต่างๆ ด้วยเหตุนี้ มันเลยอาจทำให้บางทีพวกเขายอมรับในกฎระเบียบโดยที่ไม่สงสัยอะไรเลยหรือเข้าใจมันให้ดีซะก่อน</p>
                    <br>
                    <p>คนแบบ ESFJ คงไม่ค่อยมีความสุขถ้าจะต้องเรียนรู้หรือทำสิ่งใดก็ตามที่มีความเกี่ยวข้องกับสิ่งที่เป็นนามธรรม, แนวคิดทางทฤษฎี หรือบทวิเคราะห์ที่ไม่น่าสนใจ มีแนวโน้มเป็นคนที่มีความต้องการในการควบคุมสิ่งต่างๆในสภาพแวดล้อม พวกเขาชอบสร้างระบบและทำอะไรอย่างมีขั้นตอนหรือโครงสร้าง และก็ยังเก่งในงานที่ต้องอาศัยทักษะเหล่านี้ด้วย อย่างไรก็ตาม ESFJ จะต้องระวังหน่อยเกี่ยวกับเรื่องการควบคุมคนอื่น บางคนก็ไม่ค่อยชอบที่จะถูกควบคุมเท่าไหร่นัก</p>
                    <br>
                    <p>ESFJ เป็นบุคลิกภาพที่มีลักษณะนิสัยหลายอย่างเกี่ยวข้องกับผู้หญิง แต่อย่างไรก็ตาม ผู้ชายที่เป็น ESFJ ก็ไม่ใช่ว่าจะแสดงออกถึงความเป็นผู้หญิงไปซะหมดหรอกนะ และในทางกลับกัน ESFJ เป็นบุคลิกภาพที่ค่อนข้างมีความตระหนักในเรื่องของบทบาททางเพศและยังเป็นคนที่รู้สึกสบายใจมากที่สุดในการประพฤติตนให้เหมาะสมกับเพศของตัวเอง ผู้ชาย ESFJ จะค่อนข้างเข้มแข็ง (แต่จะเป็นคนที่อ่อนไหวง่ายพอตัวถ้าคุณได้รู้จักเขาดีพอ) และผู้หญิง ESFJ ก็จะเป็นคนที่มีลักษณะโดยทั่วไปของผู้หญิงอย่างสุดๆ</p>
                    <br>
                    <p>สิ่งที่เป็นตัวตนของ ESFJ มากที่สุดคือความอบอุ่น, ช่างเห็นอกเห็นใจ, ชอบช่วยเหลือ, มีความร่วมมือ, มีกาลเทศะ, ติดดิน, เป็นนักปฏิบัติ, ละเอียดถี่ถ้วน, เสมอต้นเสมอปลาย, มีระบบระเบียบ, กระตือรือร้น และกระปรี้กระเปร่า ไม่มีปัญหากับแบบแผนประเพณี ชื่นชอบความปลอดภัย พวกเขาจะค้นหาชีวิตที่มั่นคงและสามารถติดต่อกับเพื่อนฝูงหรือครอบครัวได้อย่างกว้างขวาง</p>
                    <br>
                    <h1 class="text-2xl font-bold">ข้อดีและข้อเสีย</h1>
                    <p>ข้อดี</p>
                    <p>-ชอบและมุ่งมั่นในการทำเพื่อผู้อื่น สนใจในความต้องการของผู้อื่น</p>
                    <p>-เก่งในการจัดการเรื่องเงิน</p>
                    <p>-เป็นคนที่อบอุ่น ใจดี และเฟรนลี่</p>
                    <p>-มีความเป็นระเบียบเรียบร้อย</p>
                    <p>-ให้ความสำคัญกับบทบาทและภาระหน้าที่ ตั้งใจทำอย่างดี</p>
                    <p>-เก่งในการรับรู้ความรู้สึกของผู้อื่น ชอบช่วยเหลือผู้อื่น พึ่งพาได้</p>
                    <p>-ติดดิน เป็นนักลงมือปฏิบัติจริง</p>
                    <br>
                    <p>ข้อเสีย</p>
                    <p>-ไม่ค่อยมีความยืดหยุ่น ไม่ชอบการเปลี่ยนแปลง</p>
                    <p>-อาจเป็นฝ่ายโทษตัวเอง</p>
                    <p>-ไม่ชอบความขัดแย้งหรือการทะเลาะเบาะแว้ง</p>
                    <p>-ไม่เก่งในการรับคำวิพากษ์วิจารณ์</p>
                    <p>-อาจหวังจะขอพึ่งพาผู้อื่นจากสิ่งที่ตัวเองมอบให้</p>
                    <p>-อาจสนใจว่าคนรอบข้างจะมองตัวเขาว่าอย่างไร</p>
                    <br>
                    <h2 class="text-xl font-bold">แหล่งข้อมูลอ้างอิงที่นำมาใช้ประกอบเว็บไซต์</h2>
                    <p>1. www.getrealme.com</p>
                </div>
            </div>
        </div> 
    </div>
</body>
{% endblock %}