{% extends 'MBTI/components/base.html/' %}

{% block content %}
<body>
    <div class="flex flex-col items-center justify-center text-center mx-auto py-10 ">
        <div class="w-full max-w-6xl bg-white rounded-lg border border-gray-300  ">
            <div class="flex flex-col items-start justify-start text-left px-24 py-8">
                <div class="container mx-auto mt-10 text-center mb-8">
                    <h1 class="text-4xl font-bold">ลักษณะบุคลิกภาพของ ESFP</h1>
                </div> 
                <div class="flex flex-col items-start justify-start text-left">
                    <p>ในฐานะของคนที่มีบุคลิกภาพแบบ ESFP วิธีการหลักในการใช้ชีวิตของคุณจะสนใจอยู่กับโลกภายนอก ได้แก่ ทุกสิ่งทุกอย่างที่อยู่รอบตัวของคุณ โดยคุณจะรับรู้สิ่งต่างๆเหล่านี้ผ่านทางประสาทสัมผัสทั้ง 5 ของคุณตามความเป็นจริงของสิ่งนั้นๆเป็นหลัก (Extraverted Sensing – Se) วิธีการรองในการใช้ชีวิตของคุณจะสนใจอยู่กับโลกภายใน ได้แก่ สิ่งที่อยู่ในจิตใจและหัวสมองของคุณ ซึ่งคุณจะจัดการกับสิ่งต่างๆเหล่านี้โดยใช้ความรู้สึกหรือค่านิยมส่วนตัวของคุณ (Introverted Feeling – Fi)</p>
                    <br>
                    <p>ESFP อาศัยอยู่ในโลกที่เต็มไปด้วยผู้คนต่างๆรอบตัว พวกเขารักและสนุกกับการได้อยู่ร่วมกับผู้อื่น ชอบค้นหาประสบการณ์ใหม่ๆ เป็นคนที่รักสนุก, ร่าเริงสดใส และกระปรี้กระเปร่า ชอบการเป็นจุดสนใจ ใช้ชีวิตอยู่ในปัจจุบันเป็นหลัก เพลิดเพลินอยู่กับความตื่นเต้นและความเร้าใจ มีความกระตือรือร้นสูง</p>
                    <br>
                    <p>ESFP เป็นคนที่มีทักษะการติดต่อสื่อสารระหว่างบุคคลสูงมากและมักจะพบว่าตัวเองนั้นอยู่ในบทบาทของผู้ไกล่เกลี่ยอยู่บ่อยๆ ด้วยการที่พวกเขาเป็นคนที่ตัดสินใจโดยใช้ค่านิยมส่วนตัวเป็นหลัก จึงเป็นคนที่ค่อนข้างเห็นอกเห็นใจและเป็นห่วงเป็นใยในสภาพความเป็นอยู่ของแต่ละคน เป็นคนที่ค่อนข้างใจกว้างและอบอุ่น ชอบสังเกตเกี่ยวกับผู้คน พวกเขาอาจจะไม่ใช่นักให้คำแนะนำที่ดีที่สุดในโลก เพราะว่าพวกเขาไม่ชอบทฤษฎีและการวางแผนล่วงหน้า แต่พวกเขาเก่งในการให้การดูแลที่สามารถปฏิบัติได้จริง</p>
                    <br>
                    <p>คนแบบ ESFP ชอบทำหรือปรับเปลี่ยนอะไรตามสถานการณ์ที่ได้พบเจออย่างเป็นธรรมชาติ เป็นคนที่มองโลกในแง่ดี รักความสนุก ชอบใช้ชีวิตไปให้ถึงขีดสุดและค้นหาสิ่งใหม่ๆ ด้วยสิ่งนี้เลยทำให้บางทีก็เป็นคนที่กล้าเสี่ยง ชอบผจญภัย พวกเขาเชื่อว่าชีวิตคืออะไรที่จะต้องได้ค้นพบ ชื่นชอบการเข้าสังคมอย่างสุดๆ เป็นคนง่ายๆและสบายๆ</p>
                    <br>
                    <p>ถ้า ESFP คนใดที่ยังไม่ได้พัฒนาในด้าน Thinking (ตรงกันข้ามกับ Feeling) โดยการใช้การกระบวนการพิจารณาหรือการคิดวิเคราะห์ด้วยความมีเหตุผล จะมีแนวโน้มเป็นคนที่ทำตามใจของตัวเองมากเกินไปและยกให้ความรู้สึกและสิ่งที่ทำให้พอใจ ณ เวลานั้นๆสำคัญกว่างานและหน้าที่ นอกจากนี้ยังอาจจะละเลยและไม่สนใจในผลลัพธ์ของการกระทำในระยะยาวอีกด้วย เช่น เรื่องการใช้เงิน เป็นต้น</p>
                    <br>
                    <p>สำหรับ ESFP แล้ว โลกทั้งโลกก็เหมือนกันเวที พวกเขาชอบการเป็นจุดสนใจและแสดงออกไป มักจะแสดงอะไรเพื่อสร้างความบันเทิงและความสุขให้กับคนอื่นๆอยู่เสมอๆ ชอบกระตุ้นผู้อื่นและก็เก่งในด้านนี้จริงๆ พวกเขาคงไม่ชอบอะไรมากกว่าการที่ชีวิตเป็นงานปาร์ตี้ซึ่งไม่มีวันจบอีกแล้ว ซึ่งคนแบบ ESFP ก็ชอบรับบทบาทเป็นผู้รักในการให้ความสนุกอีกด้วย</p>
                    <br>
                    <p>ESFP รักผู้คนและทุกๆคนก็รักเขา เป็นคนที่มีความหวังและเร่าร้อน พวกเขาชอบและเข้ากันได้กับแทบจะทุกๆคน เป็นคนที่ให้ความอบอุ่นและใจกว้างต่อเพื่อนฝูงอย่างไม่มีที่สิ้นสุดและมักจะปฏิบัติต่อทุกๆคนในฐานะเพื่อน อย่างไรก็ตาม เมื่อถูกคนหลอกหรือหักหลัง ESFP จะตัดสินคนที่ทรยศคนนั้นอย่างไม่ใยดี พวกเขาไม่ชอบอะไรแบบนี้เลยจริงๆ</p>
                    <br>
                    <p>เมื่อใดก็ตามที่ ESFP ตกอยู่ในความเครียด พวกเขาจะถูกครอบงำโดยความคิดและความเป็นไปได้ในเชิงลบ ในฐานะของ ESFP ที่เป็นคนมองโลกในแง่ดี การมีความคิดถึงอะไรที่เป็นไปได้ในทางลบเป็นอะไรที่แย่สำหรับพวกเขามาก ในการพยายามต่อสู้กับมัน พวกเขามักจะใช้คำกล่าวอย่างเรียบง่ายในการอธิบายถึงปัญหาออกไป การอธิบายอย่างง่ายๆนี่อาจจะช่วยหรือไม่ช่วยในการเข้าถึงปัญหา แต่มันจะช่วยให้ ESFP นั้นรู้สึกสบายใจขึ้นที่ได้ระบายออกไปให้ใครฟัง</p>
                    <br>
                    <p>ESFP เป็นนักปฏิบัติ ไม่ชอบการมีแบบแผนหรือโครงสร้างและการทำกิจวัตรประจำวัน พวกเขาชอบทำตัวไหลไปตามกระแสน้ำ เชื่อมั่นในความสามารถของตัวเอง นั่นคือ สร้างการกระทำหรือคำพูดใดๆโดยที่ไม่ต้องเตรียมการมาก่อน พวกเขาพร้อมที่จะทำตัวปรับเปลี่ยนให้เข้ากับทุกๆสถานการณ์ที่ได้พบเจอ จะเรียนรู้ได้ดีที่สุดก็ต่อเมื่อได้ใช้ทั้งสองมือของตัวเองลองทำเป็นประสบการณ์มากกว่าที่จะอ่านในหนังสือ ไม่ค่อยสุขสบายใจถ้าจะต้องยุ่งเกี่ยวกับทฤษฎี ถ้า ESFP คนใดที่ยังไม่ได้พัฒนาทางด้าน Intuition (ตรงกันข้ามกับ Sensing) เขาจะต้องพยายามหลีกเลี่ยงสถานการณ์ที่อาศัยการคิดเชิงทฤษฎีหรืออะไรที่ซับซ้อนยากที่จะเข้าใจ ด้วยเหตุนี้ ESFP อาจจะพบความยากลำบากในโรงเรียน ในทางกลับกัน ESFP จะทำได้ดีอย่างมากๆในสถานการณ์ที่ต้องเรียนรู้ผ่านการมีปฏิสัมพันธ์กับผู้อื่นหรือไม่ก็สิ่งที่เกี่ยวกับการเรียนรู้โดยการลงมือทำ</p>
                    <br>
                    <p>ESFP มีความสามารถที่ดีในการเล็งเห็นคุณค่าของความงามทางด้านศิลปะ ถ้าพวกเขาทำได้ ก็คงอยากมีอะไรสวยๆงามๆไว้ในครอบครองและตกแต่งบ้านอย่างสวยงาม ESFP จะได้รับความพึงพอใจของวัตถุจากความสวยความงาม พวกเขาน่าจะชื่นชอบอะไรดีๆในชีวิต เช่น อาหารดีๆ เสื้อผ้าดีๆ เป็นต้น</p>
                    <br>
                    <p>ESFP เป็นผู้ร่วมงานที่ดี ไม่ค่อยจะสร้างปัญหาหรือความวุ่นวายและยังชอบจะสร้างสภาพแวดล้อมให้ดูสนุกสนานเพื่อทำงานให้เสร็จ ESFP จะทำได้ดีที่สุดถ้าได้ทำอาชีพที่จะได้ใช้ทักษะเกี่ยวกับคนอันยอดเยี่มของเขา เช่นการติดต่อสื่อสาร ด้วยการที่เป็นคนชอบประสบการณ์ใหม่ๆ พวกเขาควรจะเลือกสาขาอาชีพที่มีหรือต้องการความหลากหลาย เช่นเดียวกันกับทักษะเกี่ยวกับคนก็ด้วย</p>
                    <br>
                    <p>ESFP ชอบการมีความรู้สึกผูกติดกับผู้อื่น ชอบเชื่อมความสัมพันธ์กับเด็กเล็กๆและสัตว์เลี้ยง ซึ่งไม่ค่อยพบเจอในบุคลิกภาพแบบอื่นๆ พวกเขายังมีความชื่นชมต่อความสวยงามของธรรมชาติด้วย</p>
                    <br>
                    <p>ESFP รักที่จะมีชีวิตอยู่มากๆ พวกเขารู้วิธีทำให้อะไรสนุกและก็ชอบทำให้ผู้อื่นสนุกด้วยเช่นกัน เป็นคนยืดหยุ่นและปรับเปลี่ยนได้ สนใจในคนรอบตัวอย่างแท้จริง มักจะเป็นคนใจดีมีไมตรีจิต สามารถทำให้ชีวิตเป็นเรื่องสนุกในหลายๆอย่าง แต่อย่างไรก็ตาม ESFP นั้นต้องระวังในเรื่องการใช้ชีวิตให้ดีๆ เพราะพวกเขาอาศัยอยู่ในโลกของปัจจุบันแทบจะอย่างเดียว</p>
                    <br>
                    <h1 class="text-2xl font-bold">ข้อดีและข้อเสีย</h1>
                    <p>ข้อดี</p>
                    <p>-เป็นคนสนุกสนาน มอบความบันเทิงให้ผู้อื่น มองโลกในแง่ดี และมีความอบอุ่น</p>
                    <p>-เฟรนลี่และเป็นที่ชื่นชอบและที่รู้จักของผู้คน ชอบการอยู่กับเพื่อนฝูง</p>
                    <p>-มีความเป็นศิลปินและความคิดสร้างสรรค์</p>
                    <p>-เป็นนักลงมือปฏิบัติ อยู่ในโลกของความจริง อยู่กับปัจจุบัน</p>
                    <p>-มีความยืดหยุ่นสูง สามารถปรับตัวให้เข้ากับสิ่งใหม่ๆได้ง่าย</p>
                    <p>-เก่งในการรับรู้ความรู้สึกของผู้อื่น</p>
                    <br>
                    <p>ข้อเสีย</p>
                    <p>-ไม่เก่งในความสัมพันธ์แบบผูกมัดกันระยะยาว</p>
                    <p>-ไม่สามารถจัดการกับคำวิพากษ์วิจารณ์ที่ได้รับมาอย่างดีและเก็บไปคิดมาก</p>
                    <p>-พยายามหลีกเลี่ยงการเผชิญหน้ากับความขัดแย้ง</p>
                    <p>-อาจเป็นคนประเภทวัตถุนิยม</p>
                    <p>-ไม่วางแผนสิ่งต่างๆในชีวิตล่วงหน้า อาจละเลยผลกระทบที่จะตามมาในอนาคต</p>
                    <p>-ไม่ชอบอะไรที่ซับซ้อนหรือเป็นนามธรรม</p>
                    <p>-อาจรู้สึกเบื่อได้ง่าย</p>
                    <br>
                    <h2 class="text-xl font-bold">แหล่งข้อมูลอ้างอิงที่นำมาใช้ประกอบเว็บไซต์</h2>
                    <p>1. www.getrealme.com</p>
                </div>
            </div>
        </div> 
    </div>
</body>
{% endblock %}