{% extends 'MBTI/components/base.html/' %}

{% block content %}
<head>
    <style>
      body {
        background: linear-gradient(30deg, #991b1b, #E6E6FA);
      }
    </style>
</head>
<body>
    <div class="flex flex-col items-center justify-center text-center mx-auto py-10 ">
        <div class="w-full max-w-6xl bg-white rounded-lg border border-gray-300  ">
            <div class="flex flex-col items-start justify-start text-left px-24 py-8">
                <div class="container mx-auto mt-10 text-center mb-8">
                    <h1 class="text-4xl font-bold">ลักษณะบุคลิกภาพของ ESTJ</h1>
                </div> 
                <div class="flex flex-col items-start justify-start text-left">
                    <p>ในฐานะของคนที่มีบุคลิกภาพแบบ ESTJ วิธีการหลักในการใช้ชีวิตของคุณจะสนใจอยู่กับโลกภายนอก ได้แก่ ทุกสิ่งทุกอย่างที่อยู่รอบตัวของคุณ โดยคุณจะจัดการกับสิ่งต่างๆเหล่านี้โดยใช้ความมีเหตุผลและความสมเหตุสมผลเป็นหลัก (Extraverted Thinking – Te) วิธีการรองในการใช้ชีวิตของคุณจะสนใจอยู่กับโลกภายใน ได้แก่ สิ่งที่อยู่ในจิตใจและหัวสมองของคุณ ซึ่งคุณจะรับรู้สิ่งต่างๆเหล่านี้ผ่านทางประสาทสัมผัสทั้ง 5 ของคุณตามความเป็นจริงของสิ่งนั้นๆ (Introverted Sensing – Si)</p>
                    <br>
                    <p>ESTJ อาศัยอยู่ในโลกของข้อเท็จจริงและความต้องการสิ่งที่เป็นรูปธรรม พวกเขาใช้ชีวิตอยู่ในโลกของปัจจุบันเป็นหลัก จะคอยมองสภาพแวดล้อมรอบๆตัวเพื่อที่จะทำให้แน่ใจว่าทุกสิ่งทุกอย่างนั้นดำเนินไปได้อย่างราบลื่นและมีระบบ  ESTJ ให้ความเคารพในวัฒนธรรมประเพณีและกฎระเบียบ นอกจากนี้ยังคาดหวังว่าจะได้เห็นมันจากคนอื่นๆอีกด้วย พวกเขาไม่มีความอดทนหรือความเข้าใจต่อใครก็ตามที่ไม่ให้ความสำคัญกับสิ่งเหล่านี้ พวกเขายังให้ความสำคัญกับการมีความสามารถและมีประสิทธิภาพ ต้องการเห็นผลลัพธ์ของความพยายามอย่างทันทีทันใดและไม่ชอบการรีรอก่อนที่จะลงมือทำอะไร มักจะรีบทำมันให้เสร็จๆไปเลยทันที มีความไวในการตัดสินใจและกำหนดแผนการปฏิบัติเป็นอย่างมาก</p>
                    <br>
                    <p>ESTJ เป็นคนที่สามารถควบคุมคนอื่นได้ พวกเขามีวิสัยทัศน์ที่ชัดเจนในเรื่องของสิ่งต่างๆควรจะเป็น มันเลยทำให้พวกเขามักจะได้รับบทบาทผู้นำโดยธรรมชาติ มีความมั่นใจในตัวเอง มีความสามารถอย่างยิ่งในการคิดค้นระบบและแผนการในการปฏิบัติ สามารถมองเห็นถึงสิ่งใดที่ควรทำเพื่อที่จะทำงานให้สำเร็จ บางทีก็เลยกลายเป็นคนที่เรียกร้องอะไรจากคนอื่นมากเกินควรและช่างวิจารณ์ ทั้งนี้ก็เพื่อทำทุกอย่างให้งานหรือภาระหน้าที่นั้นๆให้สำเร็จ พวกเขาจะแสดงออกอย่างตรงไปตรงมาถ้าพบว่าใครที่ทำอะไรไม่ได้มาตรฐานของเขา แต่อย่างน้อยๆ พวกเขาก็จะแสดงออกหรือวิพากษ์วิจารณ์อะไรที่เป็นความจริงตามความคิดของเขาเท่านั้น เพราะ ESTJ นั้นเป็นคนที่ตรงไปตรงมาและซื่อสัตย์เป็นอย่างมาก</p>
                    <br>
                    <p>ESTJ มักจะเป็นตัวอย่างที่ดีของพลเมืองและเสาหลักของสังคม พวกเขารับผิดชอบต่อหน้าที่และพันธสัญญาอย่างมาก และจะทำสิ่งต่างๆตามมาตรฐานของ “พลเมืองดี” ESTJ ให้ความเคารพในอำนาจหน้าที่ ชอบการมีปฏิสัมพันธ์กับผู้อื่นและมีความสนุก พวกเขาอาจกลายเป็นคนที่เอะอะเสียงดังและสนุกสนานมากๆในงานหรือกิจกรรมทางสังคม โดยเฉพาะอย่างยิ่งกิจกรรมที่มุ่งเน้นเกี่ยวกับครอบครัว, ชุมชน หรือการทำงาน</p>
                    <br>
                    <p>พวกเขาเป็นผู้บริหารที่ยอดเยี่ยม เป็นคนที่ก้าวไปข้างหน้า กำหนดและวางแผนงานล่วงหน้าในทุกๆงานของเขา พวกเขาจะเติบโตและมีความสามารถในสภาพแวดล้อมที่มีโครงสร้างและการจัดระเบียบที่แน่นอน มีบทบาทและความรับผิดชอบที่ชัดเจนให้กับพวกเขา ESTJ เป็นคนที่มุ่งเน้นไปที่ผลลัพธ์ มีประสิทธิภาพและความสามารถอย่างมากในงานของเขา ถึงแม้ว่าพวกเขาจะชอบการเข้าร่วมกิจกรรมทางสังคม ชอบการได้รู้จักกับคนใหม่ๆ แต่ในเวลาทำงาน พวกเขาจะแยกอารมณ์และความรู้สึกส่วนตัวออกไปจากงาน ต้องการทำสิ่งต่างๆอย่างเป็นมืออาชีพ</p>
                    <br>
                    <p>คนแบบ ESTJ ต้องระวังกับการมีแนวโน้มเป็นคนที่เข้มงวดเกินไปและสนใจในรายละเอียดมากเกินไป เนื่องจากพวกเขานำข้อมูลเปรียบเทียบมากมายเข้าไปอยู่ในความคิดของเขา มันสำคัญที่จะต้องให้ความเคารพต่อความคิดเห็นหรือคำแนะนำจากผู้อื่น ถ้าพวกเขาไม่ใส่ใจในด้าน Feeling (ตรงกันข้ามกับ Thinking) พวกเขาอาจจะพบปัญหาในการเติมเต็มความต้องการในความสนิทสนมคุ้นเคยกับผู้อื่นซึ่งมันเป็นเรื่องธรรมชาติที่ใครๆก็ต้องการ และอาจจะทำลายความรู้สึกของผู้อื่นอย่างไม่รู้ตัวโดยการนำเอาความมีเหตุผลและสมเหตุสมผลเข้ามาใช้ในสถานการณ์ที่ซึ่งมันน่าจะต้องใช้อารมณ์สนับสนุนมากกว่าที่จะใช้เหตุผล</p>
                    <br>
                    <p>เมื่อใดที่ถูกครอบงำโดยความเครียด ESTJ จะรู้สึกว่าตัวเองอยู่ห่างจากคนอื่น รู้สึกเหมือนกับว่าถูกเข้าใจผิด ถูกให้คุณค่าในตัวเขาต่ำเกินไป และความพยายามของพวกเขานั้นไม่มีค่า แม้ว่าโดยปกติพวกเขาจะเป็นคนที่พูดได้มากและไม่มีปัญหาในการแสดงออกทางด้านความคิดหรือความรู้สึกของตัวเอง แต่ถ้าเมื่อใดที่ ESTJ นั้นตกอยู่ในสภาวะที่มีความเครียด พวกเขาจะพบความยากลำบากในการแปลงความรู้สึกของตัวเองให้เป็นคำพูดและสื่อสารมันออกไปให้คนอื่นได้รับรู้</p>
                    <br>
                    <p>ESTJ ให้ความสำคัญกับความปลอดภัยและระเบียบทางสังคมมากกว่าใครๆ และรู้สึกว่ามันเป็นเรื่องที่อยู่ในหน้าที่ของเขาเพื่อที่จะทำอะไรเท่าที่ทำได้ในการสนับสนุนและส่งเสริมเป้าหมายนี้ พวกเขาจะเข้าร่วมหรือสนับสนุนอะไรก็ตามที่เกี่ยวข้องกับการเพิ่มความปลอดภัยในทั้งตัวเองและสังคม เป็นคนที่เชื่อมั่นในประสบการณ์ที่ได้พบเจอ จะไม่ใช้การคาดคะเนหรือทำการทดลอง ไม่คิดเพ้อฝันหรือจินตนาการอะไรไปไกลซึ่งยากที่จะเป็นจริง และพวกเขาก็หวังว่าคนอื่นๆภายใต้การดูแลของเขาก็จะเป็นแบบนี้เช่นกัน</p>
                    <br>
                    <p>ESTJ ใช้ความพยายามอย่างหนักให้กับแทบทุกสิ่งทุกอย่างที่พวกเขาทำ พวกเขาจะทำทุกๆอย่างด้วยพลังงานที่มาก ถ้าพวกเขาคิดว่ามันสมควรทำทั้งในหน้าที่และงาน, การแต่งงาน และสังคมของพวกเขา เป็นคนที่มีธรรมในใจ, เป็นนักปฏิบัติจริง, อยู่กับความจริง/สิ่งที่เป็นไปได้จริง, เป็นคนตรงต่อเวลา และยังเป็นคนที่พึ่งพาได้  ESTJ เป็นนักเข้าร่วม พวกเขาจะมองหาเพื่อนที่ชอบและสนใจอะไรๆเหมือนกับเขาตามสถานที่ต่างๆ การเข้าร่วมเหตุการณ์จำพวก งานแต่งงาน, งานศพ หรือการรวมตัวกันในครอบครัว เป็นสิ่งที่จำเป็นมากสำหรับ ESTJ</p>
                    <br>
                    <h1 class="text-2xl font-bold">อาชีพยอดนิยมที่เหมาะสมกับบุคลิกภาพของ ESTJ</h1>
                    <p>-ฝ่ายสรรหาบุคลากร</p>
                    <p>-ผู้บังคับใช้กฎหมาย</p>
                    <p>-การจัดการธุรกิจ</p>
                    <p>-ประธานบริษัท</p>
                    <p>-ทนาย</p>
                    <p>-นักจิตวิทยาในองค์กร</p>
                    <p>-ผู้ประกอบการ</p>
                    <p>-นักบัญชี</p>
                    <p>-นักการเงิน</p>
                    <p>-โค้ช</p>
                    <br>

                    <h1 class="text-2xl font-bold">ข้อดีและข้อเสีย</h1>
                    <p>ข้อดี</p>
                    <p>-เป็นคนขยัน มีความรับผิดชอบสูงมาก พึ่งพาได้</p>
                    <p>-ซื่อสัตย์และอุทิศตน ไม่ว่าจะเป็นความสัมพันธ์หรือหน้าที่การงาน</p>
                    <p>-เก่งในการปฏิบัติตามแผนที่วางเอาไว้จนกว่าจะสำเร็จ</p>
                    <p>-ชอบเข้าสังคม มีความกระตือรือร้น และมั่นใจในตัวเอง</p>
                    <p>-เป็นผู้นำโดยธรรมชาติ มีทักษะในการเป็นผู้นำ</p>
                    <p>-ติดดิน เป็นนักลงมือปฏิบัติจริง</p>
                    <p>-มีความเป็นระเบียบเรียบร้อย มีประสิทธิภาพสูง</p>
                    <br>
                    <p>ข้อเสีย</p>
                    <p>-ไม่เก่งในการแสดงออกความรู้สึกของตัวเอง</p>
                    <p>-อาจเป็นคนที่เย็นชาและไม่รับรู้ความรู้สึกของผู้อื่นในบางที</p>
                    <p>-อยากจะเป็นฝ่ายถูกเสมอ ช่างวิพากษ์วิจารณ์ ช่างตัดสิน</p>
                    <p>-ต้องการเป็นผู้ควบคุม อาจเป็นคนเจ้ากี้เจ้าการ</p>
                    <p>-ไม่ค่อยมีความยืดหยุ่น ไม่ชอบการเปลี่ยนแปลง</p>
                    <br>
                    <h2 class="text-xl font-bold">แหล่งข้อมูลอ้างอิงที่นำมาใช้ประกอบเว็บไซต์</h2>
                    <p><a href="https://getrealme.com" target="_blank" class="text-blue-600 hover:text-blue-800"> 1. www.getrealme.com</a></p>
                    <p><a href="https://mbtionline.com/" target="_blank" class="text-blue-600 hover:text-blue-800">2. www.mbtionline.com</a></p>
                </div>
            </div>
        </div> 
    </div>
</body>
{% endblock %}
