{% extends 'MBTI/components/base.html/' %}

{% block content %}
<body>
    <div class="flex flex-col items-center justify-center text-center mx-auto py-10 ">
        <div class="w-full max-w-6xl bg-white rounded-lg border border-gray-300  ">
            <div class="flex flex-col items-start justify-start text-left px-24 py-8">
                <div class="container mx-auto mt-10 text-center mb-8">
                    <h1 class="text-4xl font-bold">ลักษณะบุคลิกภาพของ ESTP</h1>
                </div> 
                <div class="flex flex-col items-start justify-start text-left">
                    <p>ในฐานะของคนที่มีบุคลิกภาพแบบ ESTP วิธีการหลักในการใช้ชีวิตของคุณจะสนใจอยู่กับโลกภายนอก ได้แก่ ทุกสิ่งทุกอย่างที่อยู่รอบตัวของคุณ โดยคุณจะรับรู้สิ่งต่างๆเหล่านี้ผ่านทางประสาทสัมผัสทั้ง 5 ของคุณตามความเป็นจริงของสิ่งนั้นๆเป็นหลัก (Extraverted Sensing – Se) วิธีการรองในการใช้ชีวิตของคุณจะสนใจอยู่กับโลกภายใน ได้แก่ สิ่งที่อยู่ในจิตใจและหัวสมองของคุณ ซึ่งคุณจะจัดการกับสิ่งต่างๆเหล่านี้โดยใช้ความมีเหตุผลและความสมเหตุสมผล (Introverted Thinking – Ti)</p>
                    <br>
                    <p>ESTP เป็นคนที่ชอบการเข้าสังคม เข้ากับผู้อื่นได้ง่าย เป็นคนซื่อสัตย์และตรงไปตรงมา มีความกระตือรือร้นและรู้สึกตื่นเต้นได้ง่าย พวกเขาเป็น “นักปฏิบัติ” อย่างแท้จริง อาศัยอยู่ในโลกของการปฏิบัติ เป็นนักเล่นเสี่ยง พวกเขายินดีและเต็มใจที่จะเข้าไปทำอะไรซึ่งอาจทำให้มือของพวกเขาสกปรก เป็นคนที่อาศัยอยู่กับโลกในปัจจุบันเป็นหลัก ไม่ค่อยให้ความสำคัญกับทฤษฎีเท่าไหร่ พวกเขาจะมองดูความจริงในสถานการณ์นั้นๆ แล้วก็จะตัดสินใจอย่างรวดเร็วถึงอะไรที่ควรทำให้เสร็จ ต่อด้วยเริ่มการปฏิบัติ จากนั้นก็เปลี่ยนไปทำอย่างอื่น เป็นคนที่รักการมีช่วงเวลาดีๆ แม้แต่ในตอนที่กำลังทำงาน ด้วยนิสัยเริงร่าและสนุกสนาน มันเลยทำให้พวกเขาค่อนข้างเป็นที่รู้จักในหมู่เพื่อนฝูง</p>
                    <br>
                    <p>ESTP มีความสามารถอย่างน่าอัศจรรย์ในการรับรู้ถึงเจตคติและแรงบันดาลใจของผู้คน โดยเพียงแค่มองไปที่การแสดงออกทางใบหน้าหรือท่าทางของผู้อื่นก็พบคำใบ้ที่จะช่วยบ่งบอกแล้ว บุคลิกภาพแบบอื่นๆไม่ค่อยจะสังเกตเห็นสิ่งเหล่านี้อย่างที่ ESTP ทำได้ ข้อบังคับหรือกฎระเบียบเป็นเพียงแค่ตัวชี้นำมากกว่าที่จะเป็นคำสั่งสำหรับพวกเขา ถ้า ESTP ได้ตัดสินใจว่าควรจะทำอะไรให้เสร็จ พวกเขาจะมีคติประจำตัวว่า “ทำมันและก็ทำมันต่อไปเรื่อยๆ” และเป็นสาเหตุให้พวกเขายกอะไรที่ต้องการจะทำให้มันอยู่เหนือกฎระเบียบ อย่างไรก็ตาม ESTP มีแนวโน้มที่จะมีความเชื่อส่วนตัวอย่างหนักว่าอะไรที่ถูกหรือผิดสำหรับพวกเขาและจะปฏิบัติตามมันอย่างตั้งใจ กฎระเบียบที่ถูกกำหนดมาแล้วจึงไม่ค่อยมีคุณค่าสำหรับคนแบบ ESTP เท่าไหร่นัก แต่ด้วยความมีศีลธรรมจรรยาส่วนตัว มันจะช่วยให้พวกเขาไม่ไปยุ่งเกี่ยวหรือทำอะไรที่ตัวเขานั้นรู้สึกว่ามันเป็นสิ่งที่ผิด ถ้าเลือกได้ พวกเขาคงอยากได้สภาพแวดล้อมที่ไม่เข้มงวด (โดยเฉพาะกับเรื่องกฎระเบียบ) และพวกเขาเองก็เป็นคนที่ยืดหยุ่นและสามารถปรับเปลี่ยนได้ง่าย</p>
                    <br>
                    <p>พวกเขาเป็นคนที่เคลื่อนไหวอย่างรวดเร็ว พูดได้เก่ง ชอบอะไรที่ดีกว่าในชีวิต พวกเขาอาจจะเล่นการพนันหรือใช้จ่ายอย่างฟุ่มเฟือย โดยทั่วไปมักจะมีความสามารถในการเล่าเรื่องราวและการพูดหรือทำอะไรที่ไม่มีการเตรียมการมาก่อน ชอบทำอะไรตามสิ่งที่ตัวเองได้พบเจอในเวลานั้นๆมากกว่าที่จะทำตามแผนการที่มีการกำหนดไว้แล้ว พวกเขารักสนุกและเป็นคนที่สนุกสนานเวลาที่อยู่ด้วย แต่ ESTP นั้นอาจจะทำร้ายจิตใจของผู้อื่นโดยที่ไม่รู้ตัวได้ เพราะว่าโดยปกติพวกเขาจะไม่ค่อยรู้ตัวหรือเป็นห่วงในคำพูดของตัวเองว่าจะส่งผลระทบต่อผู้อื่นอย่างไร แต่นี่ไม่ได้หมายความว่าพวกเขาไม่สนใจในความรู้สึกของผู้อื่น เพียงแต่เวลาที่ตัดสินใจอะไร พวกเขาจะไม่นำเอาความรู้สึกของผู้คนมาเกี่ยวข้อง ESTP จะตัดสินใจอะไรโดยใช้สิ่งที่เป็นความจริงความถูกต้องและความมีเหตุผลเป็นหลักและสามารถรับมือกับคำวิพากษ์วิจารณ์ได้ดี</p>
                    <br>
                    <p>ESTP มักจะคิดเกี่ยวกับเรื่องที่ว่า พวกเขาจะทำสิ่งต่างๆให้ดีขึ้น, เร็วขึ้น และมีประสิทธิภาพมากขึ้นได้อย่างไร ด้วยการที่มีนิสัยเป็นคนรักสนุกและเข้ากับคนอื่นได้ง่ายมาก มันเลยทำให้พวกเขาสามารถเป็นผู้ร่วมงานที่ยอดเยี่ยม มักจะเข้าไปเกี่ยวข้องกับกิจกรรมที่ใช้ร่างกาย (โดยเฉพาะที่เป็นกิจกรรมกลางแจ้ง) เช่น วิ่งหรือเล่นกีฬาต่างๆ ไม่ก็เป็นกิจกรรมที่ใช้มือเข้าช่วยในการปฏิบัติอย่างมาก เช่น ทำอาหาร, การเย็บ และกิจกรรมอื่นๆอีกมากมายที่เกี่ยวข้อง</p>
                    <br>
                    <p>ESTP ไม่ค่อยได้พัฒนาทางด้านการใช้สัญชาติญาณหรือการหยั่งรู้เลย พวกเขาไม่มีความอดทนต่อสิ่งที่เกี่ยวข้องกับทฤษฎีและไม่ค่อยเห็นประโยชน์ของมันในแนวทางการปฏิบัติสิ่งต่างๆให้เสร็จ ESTP อาจจะมีสัญชาตญาณที่เข้มข้นเป็นครั้งคราวซึ่งส่วนมากมันก็ไม่ใช่ความจริงเลย แต่สัญชาตญาณของพวกเขาบางทีจะออกมาในแนวทางเชิงบวกและสว่างชัดเจน พวกเขาไม่เชื่อมั่นในสัญชาตญาณของตัวเองและก็ยังรู้สึกสงสัยในสัญชาตญาณของผู้อื่นด้วยเช่นกัน</p>
                    <br>
                    <p>คนที่เป็น ESTP มักจะมีปัญหาในโรงเรียน โดยเฉพาะอย่างยิ่งเมื่อศึกษาสูงขึ้นไปอีกซึ่งมันเริ่มจะต้องใช้ทฤษฎีมาเกี่ยวข้อง ESTP จะรู้สึกเบื่อในการเข้าชั้นเรียนซึ่งพวกเขาคิดว่ามันไม่ได้และไม่ช่วยอะไรพวกเขาเลย พวกเขาอาจจะเป็นคนที่ฉลาดมาก แต่ถ้าเป็นในโรงเรียน มันคือสิ่งน่าเบื่อที่ยากลำบาก อาจจะเป็นเพราะพวกเขามัวแต่สนใจที่จะทำกิจกรรมด้วย</p>
                    <br>
                    <p>ESTP ต้องการก้าวเดินไปข้างหน้า ดังนั้นพวกเขาจะทำอะไรๆได้ดีเมื่อได้ทำอาชีพหรือทำสิ่งใดที่ไม่มีการจำกัด, บังคับและกำหนด ESTP สามารถเป็นพนักงานขายที่ดีมาก เพราะมีทักษะเกี่ยวกับคนสูง พวกเขาจะรู้สึกอึดอัดและไม่มีความสุขถ้าต้องทำกิจวัตรประจำวันอันแสนน่าเบื่อ เป็นคนที่มีพลังงานและความกระตือรือร้นเป็นอย่างมาก มันช่วยผลักดันให้พวกเขาเป็นผู้ประกอบการโดยธรรมชาติ จะรู้สึกตื่นเต้นได้ง่ายเกี่ยวกับสิ่งต่างๆ และมีความสามารถในการกระตุ้นผู้อื่นให้นำพาไปสู่ความตื่นเต้นและการกระทำ เป็นคนที่มุ่งเน้นไปยังการลงมือและตัดสินใจอย่างรวดเร็ว มีพรสวรรค์ในการเริ่มทำสิ่งต่างๆ แต่ไม่ค่อยทีจะปฏิบัติตามและมักจะปล่อยงานให้คนอื่นๆไปทำต่อ</p>
                    <br>
                    <p>ESTP เป็นนักปฏิบัติจริง, ช่างสังเกต, รักสนุก เป็นนักเล่นเสี่ยงที่ชอบใช้ชีวิตอย่างเรื่อยๆสบายๆและมีความสามารถยอดเยี่ยมในการแก้ปัญหาเฉพาะหน้า เป็นคนกระตือรือร้นและสนุกเวลาอยู่ด้วย ผู้เป็นแรงจูงใจที่ดีให้กับคนรอบข้าง ถ้า ESTP คนใดที่เข้าใจในพรสวรรค์ที่แท้จริงของตนเองและนำมันไปใช้ในการทำสิ่งที่เกี่ยวข้อง พวกเขาจะสามารถบรรลุผลในสิ่งที่น่าตื่นเต้นๆดั่งที่พวกเขาชอบได้แน่ๆ</p>
                    <br>
                    <h1 class="text-2xl font-bold">ข้อดีและข้อเสีย</h1>
                    <p>ข้อดี</p>
                    <p>-เป็นคนที่น่าดึงดูดสำหรับผู้อื่น มีอารมณ์ขันและเป็นที่รู้จักของผู้คน</p>
                    <p>-เก่งในการจัดการและรับมือกับสถานการณ์ฉุกเฉิน</p>
                    <p>-ใจกว้าง รักความสนุกสนาน และมีความกระตือรือร้น</p>
                    <p>-เก่งในการจัดการกับคำวิพากษ์วิจารณ์ที่ได้รับ</p>
                    <p>-สามารถจัดการกับสิ่งต่างๆด้วยวิธีการคิดและความเป็นเหตุเป็นผล แก้ปัญหาได้ดี</p>
                    <p>-มีความยืดหยุ่นสูง สามารถปรับตัวให้เข้ากับสภาพแวดล้อมต่างๆได้ดี</p>
                    <p>-เป็นคนสบายๆ ผ่อนคลาย</p>
                    <p>-เป็นนักลงมือปฏิบัติ อยู่ในโลกของความจริง โฟกัสไปที่ชีวิตในปัจจุบัน</p>
                    <br>
                    <p>ข้อเสีย</p>
                    <p>-ไม่สามารถแสดงออกถึงความรู้สึกของตัวเองออกมาได้ง่ายๆ</p>
                    <p>-เป็นคนเบื่อง่าย</p>
                    <p>-ไม่ชอบการผูกมัดและการมีภาระหน้าที่</p>
                    <p>-อาจเป็นคนที่มีอารมณ์ขันแต่สามารถพูดหรือทำอะไรด้วยคำพูดรุนแรงซึ่งได้เช่นกัน อาจไม่รับรู้ความรู้สึกของผู้อื่นในบางที</p>
                    <p>-ไม่ชอบการมีกฎระเบียบและอะไรที่เข้มงวด อาจไม่ปฏิบัติตาม</p>
                    <p>-อาจทำอะไรโดยที่ไม่มองถึงผลกระทบที่จะตามมาในอนาคต</p>
                    <br>
                    <h2 class="text-xl font-bold">แหล่งข้อมูลอ้างอิงที่นำมาใช้ประกอบเว็บไซต์</h2>
                    <p>1. www.getrealme.com</p>
                </div>
            </div>
        </div> 
    </div>
</body>
{% endblock %}