{% extends 'MBTI/components/base.html/' %}

{% block content %}
<head>
    <style>
      body {
        background: linear-gradient(30deg, #0284c7, #E6E6FA);
      }
    </style>
</head>
<body>
    <div class="flex flex-col items-center justify-center text-center mx-auto py-10 ">
        <div class="w-full max-w-6xl bg-white rounded-lg border border-gray-300  ">
            <div class="flex flex-col items-start justify-start text-left px-24 py-8">
                <div class="container mx-auto mt-10 text-center mb-8">
                    <h1 class="text-4xl font-bold">ลักษณะบุคลิกภาพของ INFP</h1>
                </div> 
                <div class="flex flex-col items-start justify-start text-left">
                    <p>ในฐานะของคนที่มีบุคลิกภาพแบบ INFP วิธีการหลักในการใช้ชีวิตของคุณจะสนใจอยู่กับโลกภายใน ได้แก่ สิ่งที่อยู่ในจิตใจและหัวสมองของคุณ โดยคุณจะจัดการกับสิ่งต่างๆเหล่านี้โดยใช้ความรู้สึกหรือค่านิยมส่วนตัวของคุณเป็นหลัก (Introverted Feeling – Fi) วิธีการรองในการใช้ชีวิตของคุณจะสนใจอยู่กับโลกภายนอก ได้แก่ ทุกสิ่งทุกอย่างที่อยู่รอบตัวของคุณ ซึ่งคุณจะรับรู้สิ่งต่างๆเหล่านี้ผ่านทางสัญชาตญาณหรือลางสังหรณ์ของคุณ (Extraverted Intuition – Ne)</p>
                    <br>
                    <p>INFP เป็นคนเงียบๆ ช่างเอาใจใส่และให้กำลังใจ มีความต้องการที่จะเปลี่ยนแปลงโลกให้เป็นสถานที่ที่ดีขึ้นสำหรับผู้คน เป้าหมายหลักของพวกเขาคือการค้นพบความหมายของชีวิต ทำตามเสียงหัวใจของตนเอง พวกเขาอยากเข้าใจในตัวเองให้มากขึ้นและทำอะไรถึงจะเหมาะสมกับตัวเองที่สุด พวกเขาเป็นนักอุดมคติและชื่นชอบความสมบูรณ์แบบ ทะเยอทะยานอย่างหนักในการทำเป้าหมายที่ตัวเขาได้กำหนดไว้แล้วให้สำเร็จ</p>
                    <br>
                    <p>INFP อาศัยสัญชาตญาณหรือการหยั่งรู้ในเรื่องเกี่ยวกับคน พวกเขาเชื่อมั่นอย่างยิ่งในการชี้นำจากสัญชาตญาณของตัวเอง ใช้การค้นพบจากตนเองมาเป็นค่านิยมส่วนตัว ชอบค้นหาความจริงและความหมายที่ซ่อนอยู่ในสิ่งต่างๆ ทุกๆอย่างที่พบเจอและทุกๆส่วนของความรู้ที่ได้มาจะถูกนำมากลั่นกรองผ่านทางระบบค่านิยมส่วนตัว INFP ต้องการช่วยเหลือคนและปรับปรุงโลกให้น่าอยู่มากขึ้น สนใจในวิธีการที่ดีที่สุดในการช่วยเหลือผู้อื่น มักจะใช้เวลาไปกับการครุ่นคิดถึงจุดประสงค์ของชีวิตและจะใช้ทักษะ/ความสามารถของตัวเองในการให้ความเมตตากรุณาต่อคนอื่นๆได้ดีที่สุดได้อย่างไร</p>
                    <br>
                    <p>โดยทั่วไปพวกเขา่จะเป็นคนที่ครุ่นคิดและนึกถึงผู้อื่น รู้ดีถึงความต้องการ, ความปรารถนา และความกังวลของผู้คน เป็นผู้ฟังที่ดีและช่วยทำให้สบายใจได้ แม้ว่าพวกเขาอาจจะเก็บการแสดงออกทางอารมณ์ไว้บ้าง แต่ก็มีความเอาใจใส่และต้องการเข้าใจในผู้คนเป็นอย่างมาก ความจริงใจอันนี้ก็ส่งผ่านไปถึงผู้อื่น ทำให้ INFP ถูกขนาดนามว่าเป็นเพื่อนคนสำคัญและไว้ใจได้ พวกเขาจะเป็นคนที่ค่อนข้างอบอุ่นเมื่อได้อยู่กับใครก็ตามที่พวกเขารู้จักดี</p>
                    <br>
                    <p>INFP ไม่ชอบความขัดแย้งและพยายามอย่างหนักเพื่อหลบหลีกมัน ถ้าจะต้องเผชิญหน้า พวกเขาจะใช้ทัศนคติที่ออกมาจากความรู้สึกของตัวเองตลอดทุกครั้ง ในสถานการณ์ที่ขัดแย้ง INFP จะไม่ค่อยให้ความสำคัญกับเรื่องที่ว่าใครถูกหรือใครผิด แต่สนใจในความขัดแย้งนั้นทำให้พวกเขารู้สึกอย่างไรและไม่ค่อยสนใจว่าตัวเองจะถูกหรือผิด พวกเขาก็แค่ไม่ชอบรู้สึกแย่ๆ ด้วยลักษณะนิสัยแบบนี้ ทำให้บางทีจะกลายเป็นคนที่ไม่มีเหตุผล ไม่มีความสมเหตุสมผลในสถานการณ์ที่ขัดแย้ง แต่ในทางกลับกัน มันจะช่วยให้พวกเขาเป็นผู้ไกล่เกลี่ยที่ดีมากและมีความสามารถในการแก้ปัญหาความขัดแย้งของผู้อื่น เพราะว่าพวกเขาเข้าใจในทัศนคติและความรู้สึกของผู้อื่นโดยธรรมชาติ และต้องการช่วยเหลือคนที่มีปัญหาเหล่านั้นด้วยใจจริง</p>
                    <br>
                    <p>INFP เป็นคนที่ยืดหยุ่นได้และทำตัวสบายๆ ยกเว้นแต่ว่าหนึ่งในค่านิยมส่วนตัวของพวกเขาจะถูกก้าวก่าย เมื่อใดที่มันเกิดขึ้น พวกเขาอาจกลายเป็นคนก้าวร้าว ต่อสู้อย่างหนักเพื่อที่จะปกป้องมัน สนใจในการมองภาพรวมก่อนที่จะเจาะลึกไปยังรายละเอียดยิบย่อย  พวกเขาอาจจะเป็นคนที่ค่อนข้างพิถีพิถันในการทำสิ่งใดที่สำคัญมากๆ แต่มีแนวโน้มที่จะละเลยต่อรายละเอียดต่างๆอันแสนน่าเบื่อ</p>
                    <br>
                    <p>INFP ไม่ชอบยุ่งเกี่ยวกับการใช้ข้อเท็จจริงและตรรกะ/ความเป็นเหตุเป็นผลที่ยากๆ พวกเขามุ่งเน้นไปยังความรู้สึกของตนเองและสภาพของมนุษย์ ด้วยเหตุนี้มันจึงทำให้พวกเขาทำการตัดสินโดยไม่ใช้ความรู้สึกส่วนตัวที่เกี่ยวข้องกับคนเข้าไปช่วยในการพิจารณาได้ยาก พวกเขาไม่เชื่อหรือไม่เข้าใจในความถูกต้องของการตัดสินโดยไม่คำนึงเกี่ยวกับคน และถ้าตกอยู่ในสภาวะที่มีความเครียด มันไม่ใช่เรื่องแปลกเลยถ้า INFP จะใช้เหตุผลอย่างผิดๆในสถานการณ์ที่มีความโกรธอย่างมาก</p>
                    <br>
                    <p>INFP มีมาตรฐานที่สูงและเป็นคนนิยมความสมบูรณ์แบบ ดังนั้นโดยส่วนมากจึงทำงานหนัก และไม่ให้เครดิตแก่ตัวเองเท่าที่ควร INFP อาจจะมีปัญหาในการทำงานร่วมกับผู้อื่นในกลุ่ม เพราะมาตรฐานของพวกเขานั้นสูงกว่าใครๆในกลุ่ม คนแบบ INFP นั้นไม่ควรมีอุดมคติในระดับที่สูงเกินไป ถ้าไม่แก้สิ่งนี้ พวกเขาจะไม่มีทางมีความสุขกับตัวเอง มันจะทำให้พวกเขาสับสนถึงในเรื่องสิ่งที่ควรจะทำต่อไปในชีวิต</p>
                    <br>
                    <p>INFP จะมีพรสวรรค์สำหรับการเป็นนักเขียน พวกเขาอาจจะพบปัญหาและรู้สึกอึดอัดในการแสดงออกโดยการใช้คำพูด แต่จะมีความสามารถอันยอดเยี่ยมในการนิยามและปลดปล่อยสิ่งที่พวกเขารู้สึกเขียนลงบนกระดาษ INFP สามารถพบได้บ่อยๆในงานที่ให้บริการทางสังคม เช่น การให้คำปรึกษาหรือการเป็นผู้สอน จะเก่งในงานที่สามารถใช้ความคิดสร้างสรรค์และไม่จำเป็นต้องใช้ตรรกะขั้นสูง หรือจะเป็นงานที่ทำให้ INFP สามารถช่วยเหลือผู้อื่นได้ก็ดี</p>
                    <br>
                    <p>INFP เป็นคนที่เงียบและเก็บตัว จึงอาจจะเป็นเรื่องค่อนข้างยากที่จะเข้าหาคนประเภทนี้ พวกเขาจะอุทิศตนให้กับกลุ่มเพื่อนสนิทและครอบครัว ให้ความสำคัญกับอารมณ์, ความรู้สึกและจะมีความซื่อสัตย์กับคนที่เขารัก INFP คนใดก็ตามที่ใช้ความสามารถที่ตนเองเก่งจะสามารถทำอะไรที่ยอดเยี่ยมได้สำเร็จอย่างแน่นอน</p>
                    <br>
                    <h1 class="text-2xl font-bold">อาชีพยอดนิยมที่เหมาะสมกับบุคลิกภาพของ INFP</h1>
                    <p>-นักเขียน</p>
                    <p>-จิตรกร</p>
                    <p>-ผู้เชี่ยวชาญด้านสุขภาพจิต</p>
                    <p>-ที่ปรึกษา</p>
                    <p>-ผู้ดูแลพิพิธภัณฑ์</p>
                    <p>-ช่างภาพ</p>
                    <p>-ฝ่ายทรัพยากรบุคคล</p>
                    <p>-นักการตลาด</p>
                    <p>-นักออกแบบกราฟิก</p>
                    <br>

                    <h1 class="text-2xl font-bold">ข้อดีและข้อเสีย</h1>
                    <p>ข้อดี</p>
                    <p>-ซื่อสัตย์ จงรักภักดี และอุทิศตน</p>
                    <p>-มีความห่วงใยและความรักที่ลึกซึ้งให้ผู้อื่น</p>
                    <p>-เป็นคนอบอุ่น สนใจในความต้องการของผู้คนรอบตัว ให้ความสำคัญกับความสัมพันธ์ใกล้ชิดมาก</p>
                    <p>-เก่งในการรับรู้ความรู้สึกและสิ่งที่ผลักดันผู้อื่น</p>
                    <p>-เก่งในการทำงานคนเดียว</p>
                    <p>-เก่งในการมองภาพรวมของสิ่งต่างๆ</p>
                    <p>-มีความคิดสร้างสรรค์และจินตนาการที่ล้ำเลิศ</p>
                    <p>-สนใจในการเรียนรู้สิ่งใหม่ๆ</p>
                    <br>
                    <p>ข้อเสีย</p>
                    <p>-อาจอยู่ในโลกของอุดมการณ์ส่วนตัวมากเกินไปจนละเลยโลกแห่งความจริง</p>
                    <p>-อาจนำสิ่งต่างๆเก็บไปคิดมากและมองว่าเป็นเรื่องทางส่วนตัวมากเกินไป</p>
                    <p>-อาจตอบสนองต่อสิ่งต่างๆด้วยอารมณ์มากมาย</p>
                    <p>-ไม่ชอบความขัดแย้งและคำวิพากษ์วิจารณ์</p>
                    <p>-อาจเพิกเฉยต่อรายละเอียดเล็กๆน้อยๆ</p>
                    <p>-อาจเก็บตัว ไม่เปิดเผยสิ่งที่อยู่ข้างใน ยากที่จะทำความรู้จัก</p>
                    <br>
                    <h2 class="text-xl font-bold">แหล่งข้อมูลอ้างอิงที่นำมาใช้ประกอบเว็บไซต์</h2>
                    <p><a href="https://getrealme.com" target="_blank" class="text-blue-600 hover:text-blue-800"> 1. www.getrealme.com</a></p>
                    <p><a href="https://mbtionline.com/" target="_blank" class="text-blue-600 hover:text-blue-800">2. www.mbtionline.com</a></p>
                </div>
            </div>
        </div> 
    </div>
</body>
{% endblock %}