{% extends 'MBTI/components/base.html/' %}

{% block content %}
<body>
    <div class="flex flex-col items-center justify-center text-center mx-auto py-10 ">
        <div class="w-full max-w-6xl bg-white rounded-lg border border-gray-300  ">
            <div class="flex flex-col items-start justify-start text-left px-24 py-8">
                <div class="container mx-auto mt-10 text-center mb-8">
                    <h1 class="text-4xl font-bold">ลักษณะบุคลิกภาพของ ESTJ</h1>
                </div> 
                <div class="flex flex-col items-start justify-start text-left">
                    <p>ในฐานะของคนที่มีบุคลิกภาพแบบ ESTJ วิธีการหลักในการใช้ชีวิตของคุณจะสนใจอยู่กับโลกภายนอก ได้แก่ ทุกสิ่งทุกอย่างที่อยู่รอบตัวของคุณ โดยคุณจะจัดการกับสิ่งต่างๆเหล่านี้โดยใช้ความมีเหตุผลและความสมเหตุสมผลเป็นหลัก (Extraverted Thinking – Te) วิธีการรองในการใช้ชีวิตของคุณจะสนใจอยู่กับโลกภายใน ได้แก่ สิ่งที่อยู่ในจิตใจและหัวสมองของคุณ ซึ่งคุณจะรับรู้สิ่งต่างๆเหล่านี้ผ่านทางประสาทสัมผัสทั้ง 5 ของคุณตามความเป็นจริงของสิ่งนั้นๆ (Introverted Sensing – Si)</p>
                    <br>
                    <h2 class="text-xl font-bold">แหล่งข้อมูลอ้างอิงที่นำมาใช้ประกอบเว็บไซต์</h2>
                    <p>1. www.getrealme.com</p>
                </div>
            </div>
        </div> 
    </div>
</body>
{% endblock %}
