.background-home {
  height: 600px;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

body {
  min-height: 100vh;
}
