{% extends 'MBTI/components/base.html' %}
{% load static %}
{% block content %}
<head>
  <!-- Ensure your CSS file path is correct -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <style>
    body {
      background: linear-gradient(to bottom, #fbcfe8, #fdf2f8 100%);
    }
  </style>
</head>
<body>
    <div class="flex flex-col items-center justify-center text-center mx-auto py-10 ">
        <div class="container px-4 max-w-6xl bg-white rounded-lg border border-gray-300  ">
            <div class="flex flex-col items-start justify-start text-left px-24 py-8">
                <div class="container mx-auto mt-10 text-center">
                    <div class="flex justify-center gap-4 mb-8">
                        <button id="model1-btn" class="bg-white hover:bg-gray-300 text-black font-bold text-2xl py-2 px-8 rounded focus:outline-none" data-model="model1">วิธีการคำนวณ</button>
                        <button id="model2-btn" class="bg-white hover:bg-gray-300 text-black font-bold text-2xl py-2 px-8 rounded focus:outline-none" data-model="model2">โมเดล AI ที่นำมาใช้</button>
                    </div>
                    <div class="flex flex-col items-start justify-start text-left">
                        <div id="model1-content" class="hidden">
                            <h1 class="text-xl font-bold">ขั้นตอนการจัดเก็บคะแนน</h1>
                            <p>1.ระบุข้อคำถามและตัวเลือกที่ผู้ใช้เลือก</p>
                            <p>คำถามจะมีทั้งหมด 50 คำถาม ในแต่ละข้อคำถามจะมีตัวเลือก A, B, และคำถาม C ที่มีทั้งหมด 2 ข้อ(ข้อที่ 7 กับข้อที่ 25) ซึ่งแต่ละตัวเลือกจะสัมพันธ์กับคุณลักษณะบุคลิกภาพหนึ่งใน MBTI คือ E(Extraversion), I(Introversion), S(Sensing), N(Intuition), T(Thinking), F(Feeling), J(Judging), หรือ P(Perceiving)</p>
                            <br>
                            <p>2.การจัดเก็บคะแนนตามตัวเลือก</p>
                            <p>แต่ละตัวเลือกในข้อคำถามมีคะแนนที่กำหนดไว้สำหรับบุคลิกภาพที่สอดคล้องกัน (เช่น, E = 3A มีค่า 2 คะแนน, I =  3B มีค่า 2 คะแนน) และข้อ 25 มีความพิเศษนอกเหนือจากข้ออื่นเพราะ จะสามารถเลือกคำตอบได้ทั้งหมด 2 ข้อ จากตัวเลือกที่มี 3 ตัวเลือก ผู้ใช้ทำการเลือกตัวเลือกที่ตรงกับวิธีคิดหรือพฤติกรรมของตนเอง และคะแนนจากตัวเลือกนั้นจะถูกบันทึกไว้ในคอลัมน์ที่สัมพันธ์กับบุคลิกภาพนั้นๆ</p>
                            <br>
                            <div class="flex justify-center mx-auto my-8" style="text-align: center;">
                                <img src="{% static 'images/scoreMBTI.png' %}" alt="scoreMBTI" style="max-width: 100%; height: auto;">
                            </div>
                            <h1 class="text-xl font-bold">ขั้นตอนการประมวลผลคะแนน</h1>
                            <p>1.การรวมคะแนนสำหรับแต่ละคุณลักษณะ</p>
                            <p>หลังจากที่ผู้ใช้ตอบคำถามครบทั้งหมด คะแนนจะถูกรวมสำหรับแต่ละคุณลักษณะ (E, I, S, N, T, F, J, P) และเปรียบเทียบคะแนนระหว่างคุณลักษณะที่เป็นคู่กัน (เช่น E กับ I, S กับ N, T กับ F, J กับ P) เพื่อหาว่าคะแนนของคุณลักษณะใดสูงกว่า</p>
                            <br>
                            <p>2.การตัดสินใจเลือกบุคลิกภาพ</p>
                            <p>บุคลิกภาพที่มีคะแนนสูงสุดในแต่ละคู่จะเป็นตัวแทนของบุคลิกภาพในด้านนั้น (เช่น ถ้าคะแนน E > I, แสดงว่าผู้ใช้มีความเป็น Extrovert)</p>
                            <br>
                            <h1 class="text-xl font-bold">ขั้นตอนการจัดการกรณีคะแนนเท่ากัน</h1>
                            <p>ในกรณีที่คะแนนระหว่างสองคุณลักษณะในคู่เท่ากัน (เช่น ผลรวมคะแนน E = คะแนน I) ก็จะมีเกณฑ์การตัดสินใจดังนี้</p>
                            <p>-ระหว่าง E กับ I ถ้าคะแนนเท่ากัน ให้ปรับเป็นบุคลิกภาพ I เลย</p>
                            <p>-ระหว่าง S กับ N ถ้าคะแนนเท่ากัน ให้ปรับเป็นบุคลิกภาพ N เลย</p>
                            <p>-ระหว่าง T กับ F ถ้าคะแนนเท่ากัน แล้วผู้ใช้ได้เลือกคำตอบเป็นเพศชายจะปรับเป็นบุคลิกภาพ T ถ้าหาก ผู้ใช้ได้เลือกคำตอบเป็นเพศหญิงจะปรับเป็นบุคลิกภาพ F</p>
                            <p>-ระหว่าง J กับ P ถ้าคะแนนเท่ากัน ให้ปรับเป็นบุคลิกภาพ P เลย</p>
                            <br>
                            <h1 class="text-xl font-bold">ขั้นตอนการสรุปผล</h1>
                            <p>คุณลักษณะที่มีคะแนนสูงสุดในแต่ละคู่จะรวมกันเป็นชุดอักษร 4 ตัว (เช่น INFP, ESTJ, หรืออื่นๆ) ชุดอักษรนี้แสดงถึงบุคลิกภาพของผู้ใช้ตามที่ได้แสดงผ่านการตอบคำถามในแบบทดสอบ</p>
                            <br>
                            <h1 class="text-xl font-bold">การให้คำแนะนำเพิ่มเติม</h1>
                            <p>หลังจากได้ผลลัพธ์บุคลิกภาพแล้ว สามารถอ่านเพิ่มเติมเกี่ยวกับบุคลิกของตัวเองหรือผู้อื่นได้ที่ <a href="{% url 'home' %}" class="underline text-blue-600 hover:text-blue-800">หน้าแรก</a> ได้เลย</p>
                            <br>
                            <h2 class="font-bold">แหล่งข้อมูลอ้างอิงที่นำมาใช้ประกอบแบบทดสอบ</h2>
                            <p>1. www.wedgworthleadership.com/wp-content/uploads/2016/08/Myers-Briggs-Personality-Test.pdf</p>

                        </div>
                        <div id="model2-content" class="hidden">
                            <h1 class="text-xl font-bold">1.โมเดล "anime-kawai-diffusion"</h1>
                            <p>โมเดล "anime-kawai-diffusion"บน Hugging Face สร้างโดย Ojimi เป็นโมเดลแปลงข้อความเป็นภาพที่ออกแบบมาเพื่อสร้างศิลปะแนวอนิเมะ โดยใช้ไลบรารี Diffusers และผ่านการฝึกฝนด้วยระบบแท็กของ Danbooru และ Nai เป้าหมายคือการสร้างภาพคุณภาพสูง แต่ยังอาจมีปัญหาเช่นการวาดที่ยาก การสูญเสียรายละเอียด และเนื้อหาที่ไม่เหมาะสม โมเดลนี้มีลิขสิทธิ์ CreativeML Open RAIL-M อนุญาตให้แก้ไขและแจกจ่ายต่อได้ภายใต้เงื่อนไขบางประการ </p>
                            <br>
                            <p>ดูรายละเอียดเพิ่มเติมได้ที่ anime-kawai-diffusion บน Hugging Face หรือ www.huggingface.co/Ojimi/anime-kawai-diffusion</p>
                            <br>
                            <h1 class="text-xl font-bold">ระบบแท็กของ Danbooru และ Nai คืออะไร</h1>
                            <p>ระบบแท็กของ Danbooru และ Nai เป็นระบบการแท็ก (tagging) ภาพที่ใช้ในเว็บไซต์ Danbooru ซึ่งเป็นฐานข้อมูลรูปภาพแนวอนิเมะ โดยระบบนี้ช่วยในการจัดหมวดหมู่และค้นหาภาพอย่างมีประสิทธิภาพผ่านการใช้แท็กที่อธิบายลักษณะต่าง ๆ ของภาพ เช่น ตัวละคร, สี, อารมณ์ เป็นต้น</p>
                            <br>
                            <p>Danbooru เป็นฐานข้อมูลรูปภาพแนวอนิเมะที่มีการแท็กอย่างละเอียดเพื่อให้ง่ายต่อการค้นหาและจัดหมวดหมู่รูปภาพ</p>
                            <br>
                            <p>NAI (NovelAI) ใช้ระบบแท็กแบบเดียวกันเพื่อช่วยในการจัดหมวดหมู่และค้นหารูปภาพที่มีคุณสมบัติใกล้เคียงกัน</p>
                            <br>
                            <p>Diffusers คือไลบรารีในภาษา Python ที่ออกแบบมาเพื่อใช้กับโมเดลที่ใช้กระบวนการ diffusion สำหรับสร้างภาพหรือข้อมูลอื่น ๆ แบบต่อเนื่อง โดยเฉพาะในการสร้างภาพจากข้อความ (text-to-image generation) กระบวนการ diffusion จะค่อย ๆ เพิ่มรายละเอียดและความสมจริงของภาพหรือข้อมูลจากเสียงรบกวน (noise) จนได้ผลลัพธ์ที่ต้องการ Diffusers ให้เครื่องมือและฟังก์ชันต่าง ๆ ที่ช่วยให้การใช้งานโมเดล diffusion ง่ายขึ้นและมีประสิทธิภาพสูงขึ้น</p>
                            <br>
                            <p>ข้อมูลเพิ่มเติมสามารถดูได้ที่ Hugging Face Diffusers หรือ www.huggingface.co/docs/diffusers/index</p>
                            <br>
                            <h1 class="text-xl font-bold">2.โมเดล "Dreamlike Anime 1.0" </h1>
                            <p>Dreamlike Anime 1.0 เป็นโมเดลสร้างภาพแนวอนิเมะคุณภาพสูง โดย dreamlike.art โมเดลนี้ใช้กระบวนการ Stable Diffusion เพื่อสร้างภาพจากข้อความและฝึกบนภาพขนาด 768x768px ใช้แท็กในคำสั่งเพื่อปรับแต่งผลลัพธ์ให้ออกมาเป็นอนิเมะหรือแนวภาพถ่ายอย่างสมจริง แนะนำให้ใช้ negative prompts เพื่อลดคุณสมบัติที่ไม่ต้องการ โมเดลนี้สามารถใช้งานได้ฟรีแต่มีข้อจำกัดในการใช้งานในแอปพลิเคชันหรือเว็บไซต์</p>
                            <br>
                            <p>ดูรายละเอียดเพิ่มเติมได้ที่ Dreamlike Anime 1.0 หรือ www.huggingface.co/dreamlike-art/dreamlike-anime-1.0</p>
                            <br>
                            <h1 class="text-xl font-bold">3.โมเดล "Dreamlike Photoreal 2.0" </h1>
                            <p>Dreamlike Photoreal 2.0 เป็นโมเดลสร้างภาพที่มีความสมจริงโดยใช้เทคนิค Stable Diffusion 1.5 โมเดลนี้ถูกออกแบบมาเพื่อสร้างภาพที่ดูเหมือนภาพถ่ายจากข้อความ โมเดลนี้ถูกฝึกบนภาพขนาด 768x768px แต่สามารถใช้งานได้ดีกับความละเอียดสูง เช่น 768x1024px หรือ 1024x768px มีข้อแนะนำให้ใช้ negative prompts เพื่อลดคุณสมบัติที่ไม่ต้องการ โมเดลนี้มีลิขสิทธิ์ภายใต้ CreativeML OpenRAIL-M</p>
                            <br>
                            <p>สำหรับรายละเอียดเพิ่มเติมและตัวอย่างภาพ สามารถดูได้ที่ Dreamlike Photoreal 2.0 หรือ www.huggingface.co/dreamlike-art/dreamlike-photoreal-2.0</p>
                            <br>
                            <p>CreativeML OpenRAIL-M (Responsible AI License - Model) เป็นลิขสิทธิ์ที่อนุญาตให้ใช้งานและปรับปรุงโมเดลโมเดลปัญญาประดิษฐ์ โดยมีเงื่อนไขที่กำหนดเพื่อป้องกันการใช้งานที่ไม่เหมาะสม เช่น ห้ามใช้เพื่อก่ออาชญากรรม ละเมิดความเป็นส่วนตัว หรือสร้างเนื้อหาที่เป็นอันตราย ใบอนุญาตนี้อนุญาตให้ผู้ใช้เผยแพร่และปรับปรุงโมเดล แต่ต้องปฏิบัติตามข้อกำหนดเพื่อรักษาจริยธรรมและความปลอดภัย</p>
                            <br>
                            <h2 class="font-bold">แหล่งข้อมูลอ้างอิงที่นำโมเดลมาใช้</h2>
                            <p>1. www.huggingface.co/Ojimi/anime-kawai-diffusion</p>
                            <p>2. www.huggingface.co/docs/diffusers/index</p>
                            <p>3. www.huggingface.co/dreamlike-art/dreamlike-anime-1.0</p>
                            <p>4. www.huggingface.co/dreamlike-art/dreamlike-photoreal-2.0</p>
                        </div>
                    </div>    
                </div>

                <script>
                    const buttons = document.querySelectorAll('button[data-model]');
                    buttons.forEach(btn => {
                        btn.addEventListener('click', function() {
                            // ลบสถานะการใช้งานจากทุกปุ่มและซ่อนเนื้อหาทั้งหมด
                            buttons.forEach(b => {
                                b.classList.remove('bg-gray-300');
                                b.classList.add('bg-white');
                                document.getElementById(b.dataset.model + '-content').classList.add('hidden');
                            });
                            
                            // เพิ่มสถานะการใช้งานให้กับปุ่มที่ถูกคลิกและแสดงเนื้อหาของมัน
                            this.classList.remove('bg-white');
                            this.classList.add('bg-gray-300');
                            document.getElementById(this.dataset.model + '-content').classList.remove('hidden');
                        });
                    });
                </script>
            </div>
        </div> 
    </div>       
</body>
   


{% endblock %}

