{% extends 'MBTI/components/base.html/' %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<body class="bg-white">
  <div class="flex flex-col items-center justify-center text-center mx-auto py-20">
    <h1 class="text-4xl mt-20 mb-20 font-bold">แบบทดสอบบุคลิกภาพ</h1>
      <a href="{% url 'mbti_test' %}" class="rounded-full bg-white text-black px-10 py-3 shadow-lg text-xl hover:bg-amber-600 ">
        เริ่มทำแบบทดสอบกันเลย!
      </a>
  </div>
  <br>
  <br>
  <br>
  <div class="flex flex-col items-center justify-center text-center">
    <h1 class="text-2xl mt-20 mb-20 ">MBTI คืออะไรนะ?</h1>
    <p>อธิบายเกี่ยวกับ MBTI (รอเอาข้อมูลมาลง)</p>
  </div>
  <div class="container mx-auto ">
    <div class="grid md:grid-cols-4 ">
        <!-- Card 1 -->
      <div class="bg-[#fed7aa]  shadow-lg p-5">
        <img src="path_to_image" alt="" class="rounded-full mb-4">
        <h5 class="text-xl font-bold mb-2">MBTI: INTJ</h5>
        <p class="text-gray-700 mb-4">รายละเอียดเกี่ยวกับบุคลิกภาพ INTJ</p>
        <a href="###" class="bg-yellow-500 text-white rounded-full px-4 py-2 transition-colors duration-150 hover:bg-yellow-600">อ่านเพิ่มเติม</a>
      </div>
            
        <!-- Card 2 -->
      <div class="bg-white  shadow-lg p-5">
        <img src="path_to_image" alt="" class="rounded-full mb-4">
        <h5 class="text-xl font-bold mb-2">MBTI: INTP</h5>
        <p class="text-gray-700 mb-4">รายละเอียดเกี่ยวกับบุคลิกภาพ INTP</p>
        <a href="###" class="bg-yellow-500 text-white rounded-full px-4 py-2 transition-colors duration-150 hover:bg-yellow-600">อ่านเพิ่มเติม</a>
      </div>

        <!-- Card 3 -->
      <div class="bg-[#fed7aa]  shadow-lg p-5">
        <img src="path_to_image" alt="" class="rounded-full mb-4">
        <h5 class="text-xl font-bold mb-2">MBTI: ENTJ</h5>
        <p class="text-gray-700 mb-4">รายละเอียดเกี่ยวกับบุคลิกภาพ ENTJ</p>
        <a href="###" class="bg-yellow-500 text-white rounded-full px-4 py-2 transition-colors duration-150 hover:bg-yellow-600">อ่านเพิ่มเติม</a>
      </div>

      <!-- Card 4 -->
      <div class="bg-white  shadow-lg p-5">
        <img src="path_to_image" alt="" class="rounded-full mb-4">
        <h5 class="text-xl font-bold mb-2">MBTI: ENTP</h5>
        <p class="text-gray-700 mb-4">รายละเอียดเกี่ยวกับบุคลิกภาพ ENTP</p>
        <a href="###" class="bg-yellow-500 text-white rounded-full px-4 py-2 transition-colors duration-150 hover:bg-yellow-600">อ่านเพิ่มเติม</a>
      </div>
    </div>
    <div class="grid md:grid-cols-4 ">
      <!-- Card 5 -->
      <div class="bg-white  shadow-lg p-5">
        <img src="path_to_image" alt="" class="rounded-full mb-4">
        <h5 class="text-xl font-bold mb-2">MBTI: INFJ</h5>
        <p class="text-gray-700 mb-4">รายละเอียดเกี่ยวกับบุคลิกภาพ INFJ</p>
        <a href="###" class="bg-yellow-500 text-white rounded-full px-4 py-2 transition-colors duration-150 hover:bg-yellow-600">อ่านเพิ่มเติม</a>
      </div>
            
        <!-- Card 6 -->
      <div class="bg-[#fed7aa]  shadow-lg p-5">
        <img src="path_to_image" alt="" class="rounded-full mb-4">
        <h5 class="text-xl font-bold mb-2">MBTI: INFP</h5>
        <p class="text-gray-700 mb-4">รายละเอียดเกี่ยวกับบุคลิกภาพ INFP</p>
        <a href="###" class="bg-yellow-500 text-white rounded-full px-4 py-2 transition-colors duration-150 hover:bg-yellow-600">อ่านเพิ่มเติม</a>
      </div>

        <!-- Card 7 -->
      <div class="bg-white  shadow-lg p-5">
        <img src="path_to_image" alt="" class="rounded-full mb-4">
        <h5 class="text-xl font-bold mb-2">MBTI: ENFJ</h5>
        <p class="text-gray-700 mb-4">รายละเอียดเกี่ยวกับบุคลิกภาพ ENFJ</p>
        <a href="###" class="bg-yellow-500 text-white rounded-full px-4 py-2 transition-colors duration-150 hover:bg-yellow-600">อ่านเพิ่มเติม</a>
      </div>

      <!-- Card 8 -->
      <div class="bg-[#fed7aa]  shadow-lg p-5">
        <img src="path_to_image" alt="" class="rounded-full mb-4">
        <h5 class="text-xl font-bold mb-2">MBTI: ENFP</h5>
        <p class="text-gray-700 mb-4">รายละเอียดเกี่ยวกับบุคลิกภาพ ENFP</p>
        <a href="###" class="bg-yellow-500 text-white rounded-full px-4 py-2 transition-colors duration-150 hover:bg-yellow-600">อ่านเพิ่มเติม</a>
      </div>
    </div>
  </div>
</body>
{% endblock %}




