{% extends 'MBTI/components/base.html/' %}

{% load static %}

{% block content %}
  


<body>
  <div class="background-home">
    <div style="background-image: url('{% static 'images/bg.jpg' %}');">
  </div>

  <div class="flex flex-col items-center justify-center text-center mx-auto py-10 pt-24">
    <h1 class="text-4xl mt-20 mb-20 font-bold">แบบทดสอบบุคลิกภาพ</h1>
      <a href="{% url 'mbti_test' %}" class="mb-20 rounded-full bg-white text-black px-10 py-3 shadow-lg text-xl hover:bg-amber-600 ">
        เริ่มทำแบบทดสอบกันเลย!
      </a>
    <br>
    <br>
    <br>

    <div class="w-full max-w-4xl bg-white rounded-lg border border-gray-300 pt-11 pb-11">
      <div class="flex flex-col items-start justify-start text-left px-16 py-8">
        <h1 class="text-4xl ">MBTI แบบทดสอบบุคลิกภาพ คืออะไร?</h1>
        <br>
        <p class="text-xl font-bold">เนื้อหา</p>

        <ul>
          <li><a href="#what-is-mbti" class="underline text-blue-600 hover:text-blue-800 ">1. MBTI คืออะไร?</a></li>
          <li><a href="#How can MBTI help" class="underline text-blue-600 hover:text-blue-800 ">2. MBTI จะช่วยอะไรเราได้บ้าง?</a></li>
          <li><a href="#16-personalities" class="underline text-blue-600 hover:text-blue-800">3 ตัวแบบบุคลิกภาพ 16 แบบคืออะไร?</a></li>
        </ul>
        <br>
    
        <h2 id="what-is-mbti" class="font-bold">MBTI คืออะไร?</h2>
        <p>MBTI (หรือชื่อเต็ม Myers-Briggs Type Indicator) คือ แบบทดสอบทางจิตวิทยาชนิดหนึ่ง ซึ่งได้รับความนิยมเป็นอย่างมากและถูกใช้งานกันอย่างกว้างขวางโดยเฉพาะทางฝั่งยุโรป เปรียบเสมือนเป็นเครื่องมือทางจิตวิทยาอย่างหนึ่ง ถ้าคุณยังไม่รู้จัก MBTI ก็ไม่ใช่เรื่องแปลก เพราะมันไม่ค่อยเป็นที่นิยมมากเท่าไหร่นักในประเทศไทย</p>
        <br>
        <p>มันเอาไว้ใช้วัดว่าบุคลิกภาพของเราคือแบบไหนและเป็นอย่างไร แน่นอนว่าถ้าเรารู้บุคลิกภาพของตัวเองแล้ว ก็จะสามารถเข้าใจผู้อื่นได้ดีถ้าได้รู้ลักษณะทางบุคลิกภาพของเขาอีกด้วย ดังนั้น MBTI ในภาพรวมก็เปรียบเสมือนแบบทดสอบทางบุคลิกภาพนั่นเอง</p>
        <br>
        <p>จริงๆแล้ว MBTI ก็ไม่ใช่ “แบบทดสอบ” ซะทีเดียวนะ!</p>
        <p>อย่างที่เกริ่นไปก่อนหน้านี้แล้ว ว่า MBTI นั้นเปรียบเสมือนเป็นเครื่องมือทางจิตวิทยาชนิดหนึ่ง เพราะ MBTI นั้นสามารถให้อะไรกับเรา ได้มากกว่าที่จะเป็นแค่แบบทดสอบเท่านั้น</p>
        <br>
        <p>ในระหว่างการทำแบบทดสอบนั้น ไม่มีคำตอบข้อไหนถูกหรือผิด และไม่มีบุคลิกภาพอันไหนดีกว่าอันไหนเป้าหมายที่แท้จริงของ MBTI นั้นคือการนำเสนอบุคลิกภาพของแต่ละคนให้เด่นชัด ตลอดจนนำผลลัพธ์ที่ได้ไปต่อยอดเพื่อก่อให้เกิดประโยชน์ต่อตนเองและคนรอบข้าง ไม่ใช่เพื่อประเมินสุขภาพทางจิตใจหรือเพื่อการวินิจฉัย อีกทั้งยังไม่เหมือนการทายนิสัยจากกรุ๊ปเลือดหรือวันเกิดซึ่งหาความเกี่ยวข้องกับเรื่องบุคลิกภาพไม่ได้เลย</p>
        <br>
        <h2 id="How can MBTI help" class="font-bold">MBTI จะช่วยอะไรเราได้บ้าง?</h2>
        <p>1. ช่วยให้เราเข้าใจตัวเอง เข้าใจถึงการกระทำต่างๆของเราเอง จนอาจหาเหตุผลมาอธิบายการกระทำต่างๆเหล่านั้นได้</p>
        <p>2. ช่วยให้เราเข้าใจผู้อื่น เข้าใจสิ่งที่คนอื่นเป็น เข้าใจถึงความแตกต่างของแต่ละบุคคล จนอาจแก้ปัญหาบางอย่างได้ เช่น ความขัดแย้งระหว่างเพื่อนร่วมงาน</p>
        <p>3. สามารถนำมาประยุกต์ใช้กับการศึกษา ช่วยให้เราเข้าใจถึงลักษณะ/รูปแบบของการสอนและการเรียนรู้</p>
        <p>4. ช่วยให้เราเลือกสายงานหรือสาขาวิชาที่จะศึกษาต่อให้เหมาะสมและตรงกับความสามารถของเราให้ได้มากที่สุด ทั้งนี้ก็เพื่อที่จะดึงศักยภาพที่เรามีออกมาใช้งานให้เกิดประโยชน์สูงสุด</p>
        <p>5. ช่วยให้เรารู้ถึงข้อดีและข้อเสียของตัวเอง ทำให้เราสามารถนำไปประยุกต์ให้เข้ากับสถานการณ์ต่างๆในชีวิตได้ หรือแม้กระทั่งนำไปใช้เพื่อการพัฒนาตนเอง</p>
        <p>6. บางทียังอาจใช้สำหรับการเลือกคู่ครองหรือความสัมพันธ์ในฐานะอื่นๆ แต่อย่างไรก็ตาม ถ้าหากไม่สามารถเลือกให้เหมาะสมกับเราได้ MBTI ก็จะช่วยให้เข้าใจกัน จึงอาจช่วยลดปัญหาต่างๆได้ รวมถึงความสัมพันธ์ของคนในครอบครัวอีกด้วย</p>
        <p>7. ใช้ในการบริหารจัดการกับคนได้เป็นอย่างดี เช่น ระหว่างเจ้านายปฏิบัติต่อลูกน้อง การใช้งานคนให้เหมาะสมกับงานตามที่คนนั้นๆถนัด</p>
        <br>
        <h2 id="16-personalities"class="font-bold">ตัวแบบบุคลิกภาพ 16 แบบคืออะไร?</h2>
        <a href="{% url 'mbti_detail' mbti_type='intj' %}" class="underline text-blue-600 hover:text-blue-800">INTJ</a>
        <p>ตัวแบบบุคลิกภาพ 16 แบบ คือการวัดลักษณะบุคลิกภาพที่จัดเป็นกลุ่มต่างๆ...</p>
        <br>
        <h2 class="font-bold">แหล่งข้อมูลอ้างอิงที่นำมาใช้ประกอบเว็บไซต์</h2>
        <p>1. www.getrealme.com</p>

      </div>
    </div>
  </div>  
</body>
{% endblock %}




