{% extends 'MBTI/components/base.html/' %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<div class="flex flex-col items-center justify-center text-center mx-auto p-20"> 
  


<body>
  <div class="flex flex-col items-center justify-center text-center mx-auto py-10 ">
    <h1 class="text-4xl mt-20 mb-20 font-bold">แบบทดสอบบุคลิกภาพ</h1>
      <a href="{% url 'mbti_test' %}" class="mb-20 rounded-full bg-white text-black px-10 py-3 shadow-lg text-xl hover:bg-amber-600 ">
        เริ่มทำแบบทดสอบกันเลย!
      </a>
  </div>
  <br>
  <br>

  <div class="w-full max-w-4xl bg-white rounded-lg border border-gray-300  ">
    <div class="flex flex-col items-start justify-start text-left px-24 py-8">
      <h1 class="text-4xl ">MBTI แบบทดสอบบุคลิกภาพ คืออะไร?</h1>
      <br>
      <p class="text-xl font-bold">เนื้อหา</p>

      <ul>
        <li><a href="#what-is-mbti" class="underline text-blue-600 hover:text-blue-800 ">1. MBTI คืออะไร?</a></li>
        <li><a href="#16-personalities" class="underline text-blue-600 hover:text-blue-800">2. ตัวแบบบุคลิกภาพ 16 แบบคืออะไร?</a></li>
      </ul>
      <br>
  
      <h2 id="what-is-mbti">MBTI คืออะไร?</h2>
      <p>MBTI คืออุปกรณ์วัดบุคลิกภาพที่พัฒนาโดย Isabel Briggs Myers และ Katharine Cook Briggs...</p>
      <h2 id="16-personalities">ตัวแบบบุคลิกภาพ 16 แบบคืออะไร?</h2>
      <p>ตัวแบบบุคลิกภาพ 16 แบบ คือการวัดลักษณะบุคลิกภาพที่จัดเป็นกลุ่มต่างๆ...</p>
    </div>
  </div>
</body>
{% endblock %}




