{% extends 'MBTI/components/base.html' %}

{% block content %}
<head>
  <style>
      body {
          background: linear-gradient(30deg, #FF69B4, #9932CC);
      }
  </style>
</head>
<body>
  <div class="flex flex-col items-center justify-center text-center mx-auto p-20">
    <h1 class="text-4xl mt-1 mb-8 font-bold" style="color: #1e293b;">แบบทดสอบบุคลิกภาพ</h1>
    <div class="w-full max-w-4xl bg-white border border-gray-300 rounded-lg shadow-md p-8 mb-6">
      {% if error_message_25 %}
        <p class="text-red-600 font-bold">{{ error_message_25 }}</p>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <!-- Gender question section -->
        <div class="mb-5 text-2xl">
          <label class="block font-bold mb-2" style="color: #88498f;">เพศของคุณคืออะไร?</label>
          <div class="mt-2">
            <input type="radio" name="gender" value="Male" id="genderMale" class="form-radio h-5 w-5" style="accent-color: #f48fb1;">
            <label for="genderMale" class="text-xl mr-4" style="color: #1e293b;">ชาย</label>
            <input type="radio" name="gender" value="Female" id="genderFemale" class="form-radio h-5 w-5" style="accent-color: #f48fb1;">
            <label for="genderFemale" class="text-xl" style="color: #1e293b;">หญิง</label>
          </div>
        </div>
        
        <!-- MBTI questions section -->
        {% for question in questions %}
          <div class="mb-6 p-5 bg-[#fdf2f8] rounded-lg shadow-md">
            <strong class="text-2xl" style="color: #88498f;">{{ forloop.counter }}. {{ question.text }}</strong>
            <div class="mt-3">
              {% if forloop.counter == 25 %}
                {% for answer in question.answer_set.all %}
                  <input type="checkbox" name="answers_25" value="{{ answer.code }}" id="answer25_{{ answer.id }}" class="form-radio h-5 w-5" style="accent-color: #f48fb1;">
                  <label for="answer25_{{ answer.id }}" class="text-xl ml-2" style="color: #1e293b;">{{ answer.text }}</label><br>
                {% endfor %}
              {% else %}
                {% for answer in question.answer_set.all %}
                  <input type="radio" name="question_{{ question.id }}" value="{{ answer.code }}" id="answer_{{ answer.id }}" class="form-radio h-5 w-5" style="accent-color: #f48fb1;">
                  <label for="answer_{{ answer.id }}" class="text-xl ml-2" style="color: #1e293b;">{{ answer.text }}</label><br>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        {% endfor %}
        
        <!-- Submission button -->
        <div class="flex justify-center">
          <input type="submit" value="ส่งคำตอบ" class="px-4 py-2 mt-6 font-bold text-black" style="background-color: #ce93d8; cursor: pointer; border-radius: 5px; transition: background-color 0.3s;" onmouseover="this.style.backgroundColor='#ba68c8'" onmouseout="this.style.backgroundColor='#ce93d8'">
        </div>
      </form>
    </div>
  </div>
</body>
{% endblock %}
