{% extends 'MBTI/components/base.html' %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <style>
    body {
      background: linear-gradient(to bottom, #4f46e5, #d8b4fe 100%);
    }
  </style>
</head>
<body>
  <div class="flex flex-col items-center justify-center text-center mx-auto p-20"> 
    <div class="w-full max-w-4xl bg-white rounded-lg shadow-md p-8 mb-6">
      <h3 class="text-4xl text-center mb-8 font-bold text-black">ลืมรหัสผ่านใช่มั้ย ?</h3>
      <p>โปรดใส่อีเมลที่เคยสมัครไว้ แล้วระบบจะส่งอีเมลแนะนำวิธีการตั้งรหัสผ่านใหม่ไปให้</p>
      <br>
      <form action="{% url 'password_reset' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button class="me-8 px-4 py-2 bg-gray-600 text-white rounded hover:bg-gray-700" type="submit">ส่งอีเมล</button>
      </form>
    </div>
  </div>
</body>

{% endblock %}