{% extends 'MBTI/components/base.html' %}
{% load static %}
{% block content %}
<head>
  <!-- Ensure your CSS file path is correct -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <style>
    body {
      background: linear-gradient(to bottom, #4f46e5, #d8b4fe 100%);
    }
  </style>
</head>
<body>
  <div class="flex flex-col justify-center items-center py-20">
    <div class="bg-white w-full max-w-xl mx-auto p-8 border border-amber-500 rounded drop-shadow-2xl">
      <h3 >{{ title }}</h3>
      <p>{{ content }}</p>
    </div>
  </div>
</body>
{% endblock %}