
{% extends 'MBTI/components/base.html' %}

{% block site_title %}ข้อมูลผู้ใช้ - {% endblock %}

{% block content %}
<body class="bg-[#fed7aa]">
  <div class=" flex flex-col justify-center items-center py-20">
    <div class="bg-white w-full max-w-xl mx-auto p-8 border border-amber-500 rounded drop-shadow-2xl">
      <h3 class="text-4xl text-center mb-6 font-bold text-black">ข้อมูลผู้ใช้ของ {{ user.username }}</h3>

      <form method="post" enctype="multipart/form-data">
       
        {% csrf_token %}  
        <a>
          
      
          
          
          <img src="{{ profile.profile_picture.url }}" alt="Image"style="width: 400px; height: auto;">
             
          
          <p>ชื่อ: {{ profile.first_name }}</p>
          <p>นามสกุล: {{ profile.last_name }}</p>
          <p>ที่อยู่:{{ profile.address }} </p>
          <p>เบอร์โทร: {{ profile.phone }}</p>
 
            
        </a>
        
        <button type="submit">Save</button>
        <a href="{% url 'edit_profile'%}"class="px-4 py-2 bg-amber-600 text-white rounded hover:bg-amber-700">แก้ไข</a>
      </form>
    </div>
  </div>
</body>
{% endblock %}