<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="">
  <header class="flex justify-between items-center shadow-lg p-5 bg-white bg-[#fed7aa]">
    <div class="flex-1 text-center">
      <a href="{% url 'home' %}" class="text-black no-underline hover:underline mx-4">หน้าแรก</a>
      <a href="{% url 'mbti_test' %}" class="text-black no-underline hover:underline mx-4">แบบทดสอบ</a>
      <a href="{% url 'mbti_result' %}" class="text-black no-underline hover:underline mx-4">ผลลัพธ์แบบทดสอบ</a>
      <a href="{% url 'article' %}" class="text-black no-underline hover:underline mx-4">บทความ</a>
      <a href="{% url 'about' %}" class="text-black no-underline hover:underline mx-4">เกี่ยวกับ</a>
    </div>
        
    <div class="flex-2 flex justify-end">
      {% if user.is_authenticated %}
        <div x-data="{ open: false }" @keydown.escape="open = false" class="relative" @click.away="open = false">
            <button @click="open = !open" class="text-gray-700 font-medium flex items-center">
                <span>{{ user_display_name }}</span>
                <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
            </button>
            <div x-show="open" class="absolute right-0 mt-2 py-2 w-48 bg-white rounded-md shadow-lg overflow-hidden z-50" x-transition:enter="transition ease-out duration-100 transform" x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="transition ease-in duration-75 transform" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95">
              <a href="{% url 'profile' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">ข้อมูลผู้ใช้</a>
              <a href="{% url 'password_change' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 ">เปลี่ยนรหัสผ่าน</a>
              <a href="{% url 'article_writing' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">เขียนบทความ</a>
              <a href="{% url 'article_history' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">ประวัติบทความ</a>
              <form action="{% url 'logout' %}" method="POST" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-left">
              {% csrf_token %}
              <button type="submit" class="w-full text-left">ออกจากระบบ</button>
              </form>
            </div>
        </div>
      {% else %}
        <a href="{% url 'login' %}" class="text-black no-underline hover:underline mx-4">เข้าสู่ระบบ</a>
        <a href="{% url 'register' %}" class="text-black no-underline hover:underline mx-4">สมัครสมาชิก</a>
      {% endif %}
    </div>
  </header>
</body>
</html>
